<template>
    <div class="infoForm">
      <contentHeader :queryTitle="`基本信息`"></contentHeader>
      <el-row type="flex" justify="center">
        <el-col :span="9">
          <el-form>
            <el-form-item label-width="90px" label="系统编号">
              <el-input disabled v-model="sysForm.systemNo">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="系统名称">
              <el-input maxLength="30" v-model="sysForm.systemName" :disabled="!this.$store.state.isEdit">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="系统地址">
              <el-input maxLength="100" v-model="sysForm.url" :disabled="!this.$store.state.isEdit" >
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="排序值">
              <el-input maxLength="5" v-model="sysForm.sort" :disabled="!this.$store.state.isEdit">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="更新人">
              <el-input maxLength="30" v-model="sysForm.updateBy" disabled>
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="更新时间">
              <el-date-picker
                disabled
                v-model="sysForm.updateDate"
                align="right"
                type="datetime"
                format="yyyy-MM-dd hh:mm:ss"
                value-format="yyyy-MM-dd hh:mm:ss"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label-width="90px" label="备注">
              <el-input maxLength="100" v-model="sysForm.remarks" type="textarea" :disabled="!this.$store.state.isEdit">
              </el-input>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row>
        <el-col :offset="1">
          <div class="divider"></div>
          <el-button v-if="this.$store.state.isEdit" @click="save" size="mini" type="primary">保存</el-button>
          <router-link v-if="!this.$store.state.isEdit" to="/account/sysIndex">
            <el-button size="mini" type="primary">返回</el-button>
          </router-link>
        </el-col>
      </el-row>
      <div style="height: 2rem"></div>
    </div>
</template>
<script>
  import contentHeader from '../../contentHeader'
    export default {
        data() {
            return {
              sysForm:{

              },
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          contentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          if(this.$store.state.detailId!=""){
            this.query()
          }else{
            this.addSys()
          }
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          save(){
            this.sysForm.token = this.$store.state.token
            this.$axios.HttpPost('/system/saveSystem.json',
              {
                createBy:this.sysForm.updateBy,
                contactTelephone:"",
                emergencyContact:"",
                sort:this.sysForm.sort,
                systemName:this.sysForm.systemName,
                systemNo:this.sysForm.systemNo,
                systemPowerurl:"",
                url:this.sysForm.url,
                remarks:this.sysForm.remarks,
                token:this.$store.state.token
              }
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'保存成功'
                })
              });
          },
          addSys(){
            this.$axios.HttpGet('/system/addSystem.json',
              {
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.sysForm = data.data
                this.sysForm.updateDate = new Date()
              });
          },
          query(){
            this.$axios.HttpPost('/system/getSystemInfo.json',
              {
                token:this.$store.state.token,
                systemNo:this.$store.state.detailId
              }
            )
              .then((data) => {
                this.sysForm = data.data
              });
          }
        }
    }
</script>
<style scoped>

</style>
