<template>
    <div>
      <contentHeader :queryTitle="`查询条件`"></contentHeader>
      <el-row style="margin-top: 1rem">
        <el-form label-width="80px" v-model="queryForm">
          <el-col :offset="1" :span="6">
            <el-form-item label="系统名称">
              <el-input maxLength="30" v-model="queryForm.systemName" type="text" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="系统编号">
              <el-input maxLength="30" v-model="queryForm.systemNo" type="text" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="系统地址">
              <el-input maxLength="30" v-model="queryForm.url" type="text" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <el-row class="product-btn">
        <el-col :offset='1' :span="3">
          <el-button v-if="btnShow.select" @click="()=>{queryForm.pageNum =1; queryList()}" size="mini" type="info">查询</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.resert" @click="reset" size="mini" type="info">重置</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.add" @click="add" size="mini" type="info">添加</el-button>
        </el-col>
      </el-row>
      <div class="list">
        <contentHeader :queryTitle="`系统列表`"></contentHeader>
        <el-row>
          <el-table
            :data="tableData3"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column
              label="序号"
              type="index"
              width="120">
            </el-table-column>
            <el-table-column
              label="排序值"
              prop="sort"
              width="120">
            </el-table-column>
            <el-table-column
              label="系统编号"
              show-overflow-tooltip
              width="120">
              <template slot-scope="scope">{{ scope.row.systemNo }}</template>
            </el-table-column>
            <el-table-column
              prop="systemName"
              label="系统名称"
              width="120"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="url"
              label="系统地址"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="updateBy"
              label="更新人"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              label="操作">
              <template slot-scope="scope">
                <el-button @click="check(scope.row.systemNo)" type="primary" size="mini">查看</el-button>
                <el-button @click="edit(scope.row.systemNo)" size="mini">编辑</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-row>
        <el-row class="page-choose" type="flex" justify="center" align="middle">
          <el-pagination
            :page-size="pageSize"
            @current-change="handleCurrentChange"
            layout="total, prev, pager, next, jumper"
            :total="totalPages">
          </el-pagination>
        </el-row>
      </div>
    </div>
</template>
<script>
  import contentHeader from '../../contentHeader'
    export default {
        data() {
            return {
              totalPages:0,
              pageNo:1,
              pageSize:10,
              queryForm:{
                numPerPage:10,
                pageNum:1,
                systemName:'',
                systemNo:'',
                url:'',
                token:this.$store.state.token
              },
              tableData3: [],
              multipleSelection: [],
              btnShow:{
                add:false,
                select:false,
                resert:false,
                delete:false,
                enable:false,
                unenable:false,
                import:false,
              }
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          contentHeader,
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.queryList()
          this.queryBtn()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          queryBtn(){
            ///account/operate/roleOperLoad.json
            this.$axios.HttpPost('/account/operate/roleOperLoad.json',
              {
                menuNo:this.$store.state.menuNo,
                operateType:'0',
                type:"0",
                roleNo:'JS000004',
                token:this.$store.state.token
              }
            )
              .then((data) => {
                if(data.data){
                  for(let i=0;i<data.data.length;i++){
                    if(data.data[i].operateKey=='add'){
                      this.btnShow.add=true
                    }else if(data.data[i].operateKey=='select'){
                      this.btnShow.select=true
                    }else if(data.data[i].operateKey=='resert'){
                      this.btnShow.resert=true
                    }else if(data.data[i].operateKey=='delete'){
                      this.btnShow.delete=true
                    }else if(data.data[i].operateKey=='enable'){
                      this.btnShow.enable=true
                    }else if(data.data[i].operateKey=='unenable'){
                      this.btnShow.unenable=true
                    }else if(data.data[i].operateKey=='import'){
                      this.btnShow.import=true
                    }
                  }
                }
              });
          },
          handleSelectionChange(val){
            this.multipleSelection = val
          },
          add(){
            this.$store.commit('changeEdit',true)
            this.$store.commit('changeId',"")
            this.$router.push('/account/sysEdit')
          },
          check(id){
            this.$store.commit('changeEdit',false)
            this.$store.commit('changeId',id)
            this.$router.push('/account/sysEdit')
          },
          edit(id){
            this.$store.commit('changeEdit',true)
            this.$store.commit('changeId',id)
            this.$router.push('/account/sysEdit')
          },
          handleCurrentChange(val){
            this.queryForm.pageNum = val
            this.queryList()
          },
          reset(){
            this.queryForm={
              numPerPage:10,
                pageNum:1,
                systemName:'',
                systemNo:'',
                url:'',
                token:this.$store.state.token
            }
          },
          queryList(){
            this.$axios.HttpPost('/system/querySystemList.json',
              this.queryForm
            )
              .then((data) => {
                if(data.data.pageData){
                  this.totalPages = data.data.dataTotal
                  this.tableData3 = data.data.pageData
                }
              });
          },
        }
    }
</script>
<style scoped>
  .product-btn .el-button--info{
    width: 88px;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    color: #4A4A4A;
  }
  .product-btn .el-button--info:hover{
    width: 88px;
    background-color: #4a83ff;
    border-color: #4a83ff;
    color: #fff;
  }
  .list{
    margin-top: .5rem;
  }
</style>
