<template>
    <div class="infoForm">
      <contentHeader :queryTitle="`基本信息`"></contentHeader>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <el-form v-model="dicForm">
            <el-form-item label-width="90px" label="字典名称">
              <el-input maxLength="30" v-model="dicForm.typeName" :disabled="!this.$store.state.isEdit">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="字典类型">
              <el-input maxLength="30" v-model="dicForm.type" :disabled="this.$store.state.detailId!=''">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="更新人">
              <el-input maxLength="30" v-model="dicForm.updateBy" disabled>
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="更新时间">
              <el-date-picker
                disabled
                v-model="dicForm.updateDate"
                align="right"
                type="date"
                format="yyyy-MM-dd hh:mm:ss"
                value-format="yyyy-MM-dd hh:mm:ss"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label-width="90px" label="备注">
              <el-input maxLength="100" v-model="dicForm.remark" type="textarea" :disabled="!this.$store.state.isEdit">
              </el-input>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <contentHeader :queryTitle="`配置键值`"></contentHeader>
      <el-row v-if="!!this.$store.state.isEdit" style="margin: 10px 0">
        <el-col :offset="1" :span="2">
          <el-button size="mini" type="primary" @click="()=>{
            jgDialogVisible=true
            editType = '0'
          }">添加</el-button>
        </el-col>
        <el-col :span="2">
          <el-button @click="start" size="mini">启用</el-button>
        </el-col>
        <el-col :span="2">
          <el-button @click="stop" size="mini">停用</el-button>
        </el-col>
        <el-col :offset="1" :span="4">
          <el-input maxLength="30" v-model="dicKey" placeholder="请输入字典键"></el-input>
        </el-col>
        <el-col :offset="1" :span="4">
          <el-input maxLength="30" v-model="dicV" placeholder="请输入字典值"></el-input>
        </el-col>
        <el-col :offset="1" :span="2">
          <el-button @click="()=>{pageNo = 1;queryDic()}" type="primary" size="mini">查询</el-button>
        </el-col>
      </el-row>
      <el-row>
        <el-table
          :data="tableData3"
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="handleSelectionChange">
          <el-table-column
            type="selection">
          </el-table-column>
          <el-table-column
            label="序号"
            type="index">
          </el-table-column>
          <el-table-column
            v-if="false"
            label="id"
            prop="id">
          </el-table-column>
          <el-table-column
            label="字典键">
            <template slot-scope="scope">{{ scope.row.label }}</template>
          </el-table-column>
          <el-table-column
            prop="dicValue"
            label="字典值">
          </el-table-column>
          <el-table-column
            prop="sort"
            label="排序值"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            v-if="false"
            prop="enableFlag"
            label="字典状态"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="enableFlagName"
            label="字典状态"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            v-if="this.$store.state.isEdit"
            label="操作">
            <template slot-scope="scope">
              <el-button @click="()=>{
                jgDialogVisible = true
                currentId = scope.row.id
                dialogForm.label = scope.row.label
                dialogForm.dicValue = scope.row.dicValue
                dialogForm.sort = scope.row.sort
                dialogForm.enableFlag = scope.row.enableFlag
                editType = '1'
              }" type="primary" size="mini">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-row>
      <el-row class="page-choose" type="flex" justify="center" align="middle">
        <el-pagination
          :page-size="pageSize"
          @current-change="handleCurrentChange"
          :current-page="this.pageNo"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
      <el-row>
        <el-dialog title="编辑操作" :before-close="()=>{dialogForm.label='';
            dialogForm.dicValue='';
            dialogForm.sort='';
            jgDialogVisible=false;}" :visible.sync="jgDialogVisible">
          <el-row>
            <el-form v-model="dialogForm">
              <el-col :span="18">
                <el-form-item label-width="90px" label="字典键">
                  <el-input maxLength="30" v-model="dialogForm.label"></el-input>
                </el-form-item>
                <el-form-item label-width="90px" label="字典值">
                  <el-input maxLength="30" v-model="dialogForm.dicValue"></el-input>
                </el-form-item>
                <el-form-item label-width="90px" label="排序值">
                  <el-input maxLength="30" v-model="dialogForm.sort"></el-input>
                </el-form-item>
                <el-form-item v-if="editType != '0'" label-width="90px" label="状态">
                  <el-select @change="changeV" v-model="dialogForm.enableFlag"  placeholder="请选择">
                    <el-option
                      label="启用"
                      value="0">
                    </el-option>
                    <el-option
                      label="停用"
                      value="1">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-form>
          </el-row>
          <div slot="footer" class="dialog-footer">
            <el-button @click="()=>{jgDialogVisible = false;
            dialogForm.label='';
            dialogForm.dicValue='';
            dialogForm.sort='';}">取 消</el-button>
            <el-button type="primary" @click="()=>{
              this.editType=='1' ? this.edit() : this.addDic()
            }
            ">确 定</el-button>
          </div>
        </el-dialog>
      </el-row>
      <el-row>
        <el-col :offset="1">
          <div class="divider"></div>
          <el-button v-if="this.$store.state.isEdit" @click="checkSaveName" size="mini" type="primary">保存</el-button>
          <router-link v-if="!this.$store.state.isEdit" to="/account/dicIndex">
            <el-button size="mini" type="primary">返回</el-button>
          </router-link>
        </el-col>
      </el-row>
      <div style="height: 2rem"></div>
    </div>
</template>
<script>
  import contentHeader from '../../contentHeader'
    export default {
        data() {
            return {
              editType:"",
              dicForm:{},
              queryForm:{},
              dialogForm:{},
              currentId:'',
              value:'',
              dicType:"",
              totalPages:0,
              pageNo:1,
              pageSize:10,
              dicKey:"",
              dicV:"",
              jgDialogVisible:false,
              tableData3: [],
              multipleSelection: [],
              tmpfl:''
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          contentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          if(this.$store.state.detailId){
            this.queryDicDetail()
          }else{
            this.init()
          }
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          changeV(val){
          },
          handleSelectionChange(val){
            this.multipleSelection = []
            for(let i=0;i<val.length;i++){
              this.multipleSelection.push(val[i].id)
            }
          },
          start(){
            // /dic/isUsing.json
            if(this.multipleSelection<1){
              this.$message({
                type:'warning',
                message:'请至少选择一条记录'
              })
              return
            }
            this.$axios.HttpPost('/dic/isUsing.json',
              {
                token:this.$store.state.token,
                ids:this.multipleSelection,
                type:"0"
              }
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:"启用成功"
                })
                //this.multipleSelection=[]
                this.queryDic()
              });

          },
          stop(){
            // /dic/isUsing.json
            if(this.multipleSelection<1){
              this.$message({
                type:'warning',
                message:'请至少选择一条记录'
              })
              return
            }
            this.$axios.HttpPost('/dic/isUsing.json',
              {
                token:this.$store.state.token,
                ids:this.multipleSelection,
                type:"1"
              }
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:"停用成功"
                })
                this.queryDic()
                //this.multipleSelection=[]
              });
          },
          addDic(){
            this.jgDialogVisible = false
            this.dialogForm.token = this.$store.state.token
            this.dialogForm.id = ""
            this.dialogForm.type = this.dicForm.type
            this.$axios.HttpPost('/dic/saveDicItem.json',
              this.dialogForm
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'新增成功'
                })
                this.dialogForm={}
                this.queryDic()
              });

          },
          handleCurrentChange(val){
            this.pageNo = val
            this.queryDic()
          },
          queryDicDetail(){
            this.$axios.HttpPost('/dic/queryDicById.json',
              {
                token:this.$store.state.token,
                id:this.$store.state.detailId
              }
            )
              .then((data) => {
                this.dicType = data.data.type
                this.queryDic()
                this.dicForm = data.data
              });
          },
          save(){
            this.dicForm.token = this.$store.state.token
            this.dicForm.id = this.$store.state.detailId
            let url = this.$store.state.detailId =='' ? '/dic/save.json' : '/dic/update.json'
            this.$axios.HttpPost(url,
              this.dicForm
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'保存成功'
                })
              });
          },
          edit(){
            ///dic/updateDicKey.json
            this.jgDialogVisible = false
            this.dialogForm.token = this.$store.state.token
            this.dialogForm.id = this.currentId
            this.dialogForm.type = this.dicForm.type
            this.$axios.HttpPost('/dic/updateDicKey.json',
              this.dialogForm
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'编辑成功'
                })
                this.dialogForm.dicValue = ''
                this.dialogForm.label = ''
                this.dialogForm.sort = ''
                this.dialogForm.enableFlag = ''
                this.queryDic()
              });
          },
          init(){
            this.$axios.HttpPost('/dic/init.json',
              {
                token:this.$store.state.token
              }
            )
              .then((data) => {
                this.dicForm = data.data
              });
          },
          checkSaveName(){
            this.$axios.HttpPost('/dic/checkDic.json',
              {
                token:this.$store.state.token,
                typeName:this.dicForm.typeName,
                id:this.$store.state.detailId,
              }
            )
              .then((data) => {
                if(data.code==200){
                  this.save()
                }else{
                  this.$message({
                    type:'warning',
                    message:'字典名称已存在，请修改'
                  })
                }
              });
          },
          queryDic(){
            // /dic/queryDicList.json
            this.$axios.HttpPost('/dic/queryKeyList.json',
              {
                label:this.dicKey,
                dicValue:this.dicV,
                numPerPage:10,
                pageNum:this.pageNo,
                token:this.$store.state.token,
                type:this.dicType
              }
            )
              .then((data) => {
                this.tableData3 = []
                this.totalPages = 0
                if(data.data){
                  this.tableData3 = data.data.pageData
                  this.totalPages = data.data.dataTotal
                }else{

                  this.$message({
                    type:"warning",
                    message:data.msg
                  })
                }
              });
          }
        }
    }
</script>
<style scoped>

</style>
