<template>
    <div class="infoForm">
      <contentHeader :queryTitle="`基本信息`"></contentHeader>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <el-form v-model="userInfo">
            <el-form-item label-width="90px" label="用户编号">
              <el-input maxLength="30" disabled v-model="userInfo.userNo"></el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="登录账户">
              <el-input maxLength="30" :disabled="!this.$store.state.isEdit" v-model="userInfo.loginName">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="登录密码">
              <el-input maxLength="30" @change="pwdChange" v-model="passwd" type="password" :disabled="!this.$store.state.isEdit">
                <template v-if="this.$store.state.isEdit" slot="append">
                  <el-button @click="resetPwd" slot="append">重置密码</el-button>
                </template>
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="真实姓名">
              <el-input maxLength="30" :disabled="!this.$store.state.isEdit" v-model="userInfo.name">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="职位名称">
              <el-input maxLength="30" disabled v-model="userInfo.positionTypeName">
                <template v-if="this.$store.state.isEdit" slot="append">
                  <el-button @click="queryPosition" slot="append" icon="el-icon-search"></el-button>
                </template>
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="手机号">
              <el-input maxLength="11" :disabled="!this.$store.state.isEdit" v-model="userInfo.mobile">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="邮箱">
              <el-input maxLength="30" :disabled="!this.$store.state.isEdit" v-model="userInfo.email">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="截止有效期">
              <el-date-picker
                :disabled="!this.$store.state.isEdit"
                v-model="userInfo.period"
                align="right"
                type="datetime"
                format="yyyy-MM-dd hh:mm:ss"
                value-format="yyyy-MM-dd hh:mm:ss"
                :picker-options="pickerOptions"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label-width="90px" label="状态">
              <el-select :disabled="!this.$store.state.isEdit" v-model="userInfo.enableFlag" placeholder="请选择">
                <el-option
                  v-for="item in options"
                  :key="item.label"
                  :label="item.dicValue"
                  :value="item.label">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label-width="90px" label="超级管理员">
              <el-select :disabled="!this.$store.state.isEdit" v-model="userInfo.userType" placeholder="请选择">
                <el-option
                  label="是"
                  value="1">
                </el-option>
                <el-option
                  label="否"
                  value="0">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label-width="90px" label="创建人">
              <el-input maxLength="30" disabled v-model="userInfo.createBy">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="创建时间">
              <el-date-picker
                disabled
                v-model="userInfo.createDate"
                align="right"
                type="datetime"
                format="yyyy-MM-dd hh:mm:ss"
                value-format="yyyy-MM-dd hh:mm:ss"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label-width="90px" label="备注">
              <el-input maxLength="100" :disabled="!this.$store.state.isEdit" type="textarea" v-model="userInfo.remarks">
              </el-input>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <contentHeader :queryTitle="`所属机构`"></contentHeader>
      <el-row style="margin: 10px 0">
        <el-col v-if="this.$store.state.isEdit" :offset="1" :span="2">
          <el-button size="mini" type="primary" @click="getDept">添加</el-button>
        </el-col>
        <el-col v-if="this.$store.state.isEdit" :span="2">
          <el-button size="mini" @click="removeDept('')">移除</el-button>
        </el-col>
      </el-row>
      <el-row>
        <el-table
          :data="userInfo.belongsToDeptList"
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="deptListSelectionChange">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            label="序号"
            type="index">
          </el-table-column>
          <el-table-column
            prop="deptName"
            label="机构名称">
          </el-table-column>
          <el-table-column
            prop="deptNo"
            label="机构编码"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="typeName"
            label="机构类型"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="enableFlagName"
            label="状态"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            v-if="this.$store.state.isEdit"
            label="操作">
            <template slot-scope="scope">
              <el-button  @click="removeDept(scope.row.deptNo)" type="primary" size="mini">移除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-row>
      <contentHeader :queryTitle="`配置角色`"></contentHeader>
      <el-row style="margin: 10px 0">
        <el-col :offset="1" :span="2">
          <el-button v-if="this.$store.state.isEdit" @click="queryUserList(1)" size="mini" type="primary" >添加</el-button>
        </el-col>
        <el-col :span="2">
          <el-button v-if="this.$store.state.isEdit" @click="removeRole('')" size="mini">移除</el-button>
        </el-col>
        <!--<el-col :offset="1" :span="4">-->
          <!--<el-select v-model="value" placeholder="请选择">-->
            <!--<el-option-->
              <!--v-for="item in options"-->
              <!--:key="item.value"-->
              <!--:label="item.label"-->
              <!--:value="item.value">-->
            <!--</el-option>-->
          <!--</el-select>-->
        <!--</el-col>-->
        <el-col :offset="1" :span="5">
          <el-select v-model="sysNo1" placeholder="请选择">
            <el-option
              v-for="item in sysOption"
              :key="item.systemNo"
              :label="item.systemName"
              :value="item.systemNo">
            </el-option>
          </el-select>
        </el-col>
        <el-col :offset="1" :span="5">
          <el-input maxLength="30" v-model="roleName" placeholder="请输入角色名称"></el-input>
        </el-col>
        <el-col :offset="3" :span="2">
          <el-button type="primary" @click="()=>{pageNo=1;queryUserList(0)}" size="mini">查询</el-button>
        </el-col>
      </el-row>
      <el-row>
        <el-table
          :data="userInfo.belongsToRoleList.pageData"
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="handleSelectionChange">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            label="所属系统">
            <template slot-scope="scope">{{ scope.row.systemName }}</template>
          </el-table-column>
          <el-table-column
            prop="roleNo"
            label="角色编号">
          </el-table-column>
          <el-table-column
            prop="roleName"
            label="角色名称"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="enableFlagName"
            label="角色状态"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            v-if="this.$store.state.isEdit"
            label="操作">
            <template slot-scope="scope">
              <el-button @click="removeRole(scope.row.roleNo)" type="primary" size="mini">移除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-row>
      <el-row class="page-choose" type="flex" justify="center" align="middle">
        <el-pagination
          :page-size="pageSize"
          @current-change="rolePageChange"
          :current-page='this.pageNo'
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
      <el-row>
        <el-dialog title="选择职位" :visible.sync="psDialogVisible">
          <el-row>
            <el-col :span="8"><el-input maxLength="30" v-model="positionName" placeholder="请输入职位名称" size="mini"></el-input></el-col>
            <el-col :offset="1" :span="4"><el-button @click="queryPosition" size="mini">查询</el-button></el-col>
          </el-row>
          <el-row>
            <el-table
              :data="positionList"
              tooltip-effect="dark"
              highlight-current-row
              @current-change="positionChange"
              style="width: 100%">
              <el-table-column
                prop="label"
                width="55">
              </el-table-column>
              <el-table-column
                prop="dicValue"
                label="职位名称">
              </el-table-column>
            </el-table>
          </el-row>
          <el-row class="page-choose" type="flex" justify="center" align="middle">
            <el-pagination
              :page-size="pageSize"
              @current-change="handlePsChange"
              layout="total, prev, pager, next, jumper"
              :total="psTotalPages">
            </el-pagination>
          </el-row>
          <div slot="footer" class="dialog-footer">
            <el-button @click="psDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="()=>{psDialogVisible = false
             userInfo.positionTypeName = this.tmpPs1
            userInfo.positionType =this.tmpPs2
            }">确 定</el-button>
          </div>
        </el-dialog>
        <el-dialog width="400px" title="所属机构" :visible.sync="jgDialogVisible">
          <el-row>
            <el-col :span="16"><el-input maxLength="30" v-model="debt" size="mini"></el-input></el-col>
            <el-col :offset="1" :span="4"><el-button @click="getDept" size="mini">查询</el-button></el-col>
          </el-row>
          <el-tree
            :data="data2"
            default-expand-all
            node-key="id"
            ref="tree"
            @node-click="handleCheckChange"
            highlight-current>
          </el-tree>
          <div slot="footer" class="dialog-footer">
            <el-button @click="jgDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="addDept">确 定</el-button>
          </div>
        </el-dialog>
        <el-dialog title="添加角色（显示当前用户未分配角色）" :visible.sync="jsDialogVisible">
          <el-row>
            <el-col :span="8">
              <el-select v-model="sysNo" placeholder="请选择">
                <el-option
                  v-for="item in sysOption"
                  :key="item.systemNo"
                  :label="item.systemName"
                  :value="item.systemNo">
                </el-option>
              </el-select>
            </el-col>
            <el-col :offset="1" :span="6"><el-input maxLength="30" v-model="dialogRoleName" size="mini"></el-input></el-col>
            <el-col :offset="1" :span="4"><el-button @click="queryUserList(1)" size="mini">查询</el-button></el-col>
          </el-row>
          <el-row>
            <el-table
              :data="roleList"
              tooltip-effect="dark"
              highlight-current-row
              @current-change="roleSingleChange"
              style="width: 100%">
              <el-table-column
                label="所属系统"
                width="120">
                <template slot-scope="scope">{{ scope.row.systemName }}</template>
              </el-table-column>
              <el-table-column
                prop="roleNo"
                label="角色编号"
                width="120">
              </el-table-column>
              <el-table-column
                prop="roleName"
                label="角色名称"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="enableFlagName"
                label="角色状态"
                show-overflow-tooltip>
              </el-table-column>
            </el-table>
          </el-row>
          <el-row class="page-choose" type="flex" justify="center" align="middle">
            <el-pagination
              :page-size="pageSize"
              @current-change="handleDialogChange"
              layout="total, prev, pager, next, jumper"
              :total="dilogTotalPages">
            </el-pagination>
          </el-row>
          <div slot="footer" class="dialog-footer">
            <el-button @click="jsDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="addRole">确 定</el-button>
          </div>
        </el-dialog>
      </el-row>
      <el-row >
        <el-col :offset="1">
          <div class="divider"></div>
          <el-button v-if="this.$store.state.isEdit" @click="save" size="mini" type="primary">保存</el-button>
          <router-link v-if="!this.$store.state.isEdit" to="/account/userIndex">
            <el-button size="mini" type="primary">返回</el-button>
          </router-link>
        </el-col>
      </el-row>
      <div style="height: 2rem"></div>
    </div>
</template>
<script>
  import contentHeader from '../../contentHeader'
    export default {
        data() {
            return {
              pickerOptions: {
                disabledDate(time) {
                  return time.getTime() < Date.now() - 8.64e7;
                }
              },
              debt:"",//查询机构
              roleList:[],//弹出层角色列表
              chooseRoleNo:"",//选中的角色号
              userInfo:{
                belongsToRoleList:{
                  pageData:[]
                },
                enableFlag:'0',
                password:''
              },
              roleName:'',
              dialogRoleName:'',//弹出层 查询rolename
              totalPages:0,
              dilogTotalPages:0,
              psTotalPages:0,
              pageNo:1,//角色当前页
              dialogPageNo:1,//弹出层角色当前页
              psPageNo:1,
              pageSize:10,
              jgDialogVisible:false,
              jsDialogVisible:false,
              psDialogVisible:false,//职位名称显示
              options: [],
              deptListSelection: [],//机构勾选arr
              roleSelection: [],//角色勾选arr
              data2: [],
              positionList:[],//职位名称列表
              positionName:"",//查询职位名
              deptNo:"",
              sysOption:[],//所属系统下拉
              sysNo:'',
              sysNo1:'',
              pwdFlag:false,//是否填写密码
              resetFlag:false,//是否重置密码
              passwd:'',
              tmpPs1:'',
              tmpPs2:'',
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          contentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.pwdFlag = false
          this.queryUserState()
          this.getSys()
          if(this.$store.state.detailId != ""){
            this.queryDetail()
            this.queryUserList(0)
          }else{
            this.addUser()
          }
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          pwdChange(val){
            if(val!=''){
              this.pwdFlag = true
              this.resetFlag = false
            }
          },
          handleSelectionChange(val){
            //this.roleSelection = this.formatArr(val)
            this.roleSelection = []
            for(let i=0;i<val.length;i++){
              this.roleSelection.push(val[i].roleNo)
            }
          },
          diaLogSelectionChange(){

          },
          positionChange(val){
            //选择职位
            if(val){
              this.tmpPs1 = val.dicValue
              this.tmpPs2 = val.label
              //this.userInfo.positionTypeName = val.dicValue
            //  this.userInfo.positionType = val.label
            }
          },
          handlePsChange(val){
            //职位翻页
            this.psPageNo = val
            this.queryPosition()
          },
          deptListSelectionChange(val){
            this.deptListSelection = []
            for(let i=0;i<val.length;i++){
              this.deptListSelection.push(val[i].deptNo)
            }
          },
          removeDept(id){
            if(id){
              //如果选择单条，清空多条选择
              this.deptListSelection=[]
              this.deptListSelection.push(id)
            }
            if(this.deptListSelection.length<1){
              this.$message({
                type:'warning',
                message:"请至少选择一条记录"
              })
              return
            }
            this.$confirm('是否确定移除机构?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.$axios.HttpPost("/user/removeBelongsToDept.json",
                {
                  token:this.$store.state.token,
                  deptNos:this.deptListSelection,
                  userNo:this.$store.state.detailId ||this.userInfo.userNo
                }
              )
                .then((data) => {
                  this.$message({
                    type: 'success',
                    message: '移除成功!'
                  });
                  this.deptListSelection=[]
                  this.queryDept()
                });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消操作'
              });
              this.deptListSelection=[]
            });
          },
          queryDept(){
            this.$axios.HttpGet('/user/getDeptListByUserNo.json',
              {
                token:this.$store.state.token,
                userNo:this.$store.state.detailId || this.userInfo.userNo,
              }
            )
              .then((data) => {
                this.userInfo.belongsToDeptList = data.data
              });
          },
          addDept(){
            //user/addBelongsToDept.json
            this.jgDialogVisible = false
            this.$axios.HttpPost('/user/addBelongsToDept.json',
              {
                deptNo:this.deptNo,
                token:this.$store.state.token,
                userNo:this.$store.state.detailId || this.userInfo.userNo,
              }
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'添加成功'
                })
                  this.queryDept()
              });
          },
          addRole(){
            this.jsDialogVisible = false
            this.$axios.HttpPost('/user/addBelongsToRole.json',
              {
                roleNo:	 this.chooseRoleNo,
                token:this.$store.state.token,
                unassigned:false,
                userNo:this.$store.state.detailId,
              }
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'添加成功'
                })
                this.queryUserList(0)
              });
          },
          removeRole(id){
            if(id!=''){
              this.roleSelection = []
              this.roleSelection.push(id)
            }
            if(this.roleSelection.length<1){
              this.$message({
                type:'warning',
                message:"请至少选择一条记录"
              })
              return
            }
            //移除角色
            this.$axios.HttpPost('/user/removeBelongsToRole.json',
              {
                roleNos:this.roleSelection,
                token:this.$store.state.token,
                userNo:this.$store.state.detailId || this.userInfo.userNo,
              }
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'移除成功'
                })
                this.queryUserList(0)
              });
          },
          roleSingleChange(val){
            //弹出层单选角色事件
            this.chooseRoleNo = ""
            this.chooseRoleNo = val.roleNo
          },
          handleDialogChange(val){
            //弹出窗口角色分页切换事件
            this.dialogPageNo = val
            this.queryUserList(1)
          },
          rolePageChange(val){
            //角色分页切换事件
            this.pageNo = val
            this.queryUserList(0)
          },
          getDept(){
            //获取机构树
            this.$axios.HttpPost('/dept/list.json',
              {
                token:this.$store.state.token,
                deptName:this.debt,
                enableFlag:"0"
              }
            )
              .then((data) => {
                //alert(JSON.stringify(data.data))
                this.data2 = data.data
                this.jgDialogVisible = true
              });
          },
          queryUserList(type){
            this.$axios.HttpPost('/account/role/queryRoleByUser.json',
              {
                roleName: type==0? this.roleName:this.dialogRoleName,
                numPerPage:10,
                pageNum:type==0 ? this.pageNo:this.dialogPageNo,
                systemNo:type == 0?this.sysNo1:this.sysNo,
                token:this.$store.state.token,
                userNo:this.$store.state.detailId,
                unassigned:type==0 ?true:false,
              })
              .then((data) => {
                if(data.data.pageData){
                  if(type==0){
                    this.totalPages = data.data.dataTotal
                    this.userInfo.belongsToRoleList.pageData = data.data.pageData
                  }
                  if(type==1){
                    this.jsDialogVisible = true
                    this.dilogTotalPages = data.data.dataTotal
                    this.roleList = data.data.pageData
                  }
                }
              });
          },
          handleCheckChange(val) {
            this.deptNo = val.deptNo
          },
          addUser(){
            this.$axios.HttpGet('/user/addUser.json',
              {
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                //this.userInfo = data
                this.userInfo.userNo = data.data.userNo
                this.userInfo.createBy = data.data.createBy
                this.userInfo.createDate = data.data.createDate
                this.userInfo.belongsToRoleList.pageData = []
                this.userInfo.userType = '0'
              });
          },
          queryUserState(){
            this.$axios.HttpPost('/dic/queryDicList.json',
              {
                type:"jd_increase_type",
                token:this.$store.state.token
              }
            )
              .then((data) => {
                if(data.data){
                  this.options = data.data
                }
              });
          },
          queryPosition(){
            this.psDialogVisible = true
            this.$axios.HttpPost('/dic/queryKeyList.json',
              {
                token:this.$store.state.token,
                numPerPage:10,
                pageNum:this.psPageNo,
                type:'position_type',
                dicValue:this.positionName
              }
            )
              .then((data) => {
                this.positionList = data.data.pageData
                this.psTotalPages = data.data.dataTotal
              });
          },
          resetPwd(){
            ///user/resetPassword.json
            this.$confirm('是否确定重置为默认密码?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              //this.passwd = '111111'
              this.$axios.HttpPost('/user/resetPassword.json',
                {
                  token:this.$store.state.token,
                  updateBy:this.$store.state.userName,
                  userNo:this.$store.state.detailId || this.userInfo.userNo
                }
              )
                .then((data) => {
                  this.$message({
                    type:'success',
                    message:'重置成功'
                  })
                  this.resetFlag=true
                  this.pwdFlag=false
                });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消重置密码'
              });
            });
          },
          queryDetail(){
            this.$axios.HttpPost('/user/getUserInfo.json',
              {
                token:this.$store.state.token,
                systemNo:this.$store.state.systemNo,
                userNo:this.$store.state.detailId
              }
            )
              .then((data) => {
                this.userInfo = data.data
                this.passwd = this.userInfo.password
              });
          },
          getSys(){
            // /system/getSystemList.json
            this.$axios.HttpPost('/system/getSystemList.json',
              {token:this.$store.state.token}
            )
              .then((data) => {
                this.sysOption = data.data
              });
          },
          save(){
            this.userInfo.token = this.$store.state.token
            if( this.pwdFlag ){
              //手动输入密码，加密
              this.userInfo.password = this.$axios._toMd5(this.passwd)
            }else{
              this.userInfo.password = ''
            }
            if(!this.pwdFlag && !this.resetFlag && this.passwd==''){
              this.$message({
                type:'warning',
                message:'密码不能为空'
              })
              return
            }
              this.$axios.HttpPost('/user/saveUser.json',
                this.userInfo
              )
                .then((data) => {
                  this.$message({
                    type:'success',
                    message:'保存成功'
                  })
                });
            }
        }
    }
</script>
<style scoped>

</style>
