<template>
    <div>
      <contentHeader :queryTitle="`查询条件`"></contentHeader>
      <el-row style="margin-top: 1rem">
        <el-form label-width="80px" :model="queryForm">
          <el-col :offset="1" :span="6">
            <el-form-item label="真实姓名">
              <el-input maxLength="20" v-model="queryForm.name" type="text" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="用户编号">
              <el-input maxLength="30" v-model="queryForm.userNo" type="text" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="登录账号">
              <el-input maxLength="30" v-model="queryForm.loginName" type="text" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="职位名称">
              <el-input maxLength="20" v-model="queryForm.positionTypeName" type="text" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="手机号码">
              <el-input maxLength="11" v-model="queryForm.mobile" type="text" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="账户状态">
              <el-select v-model="queryForm.enableFlag" placeholder="请选择">
                <el-option
                  v-for="item in options"
                  :key="item.label"
                  :label="item.dicValue"
                  :value="item.label">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <el-row class="product-btn">
        <el-col :offset='1' :span="3">
          <el-button v-if="btnShow.select" @click="()=>{queryForm.pageNum = 1;queryList()}" size="mini" type="info">查询</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.resert"  @click="reset" size="mini" type="info">重置</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.add" @click="add" size="mini" type="info">添加</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.delete" @click="deleteUser" size="mini" type="info">删除</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.enable" @click="start" size="mini" type="info">启用</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.unenable" @click="stop" size="mini" type="info">停用</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.import" size="mini" type="info">导入</el-button>
        </el-col>
      </el-row>
      <div class="list">
        <contentHeader :queryTitle="`用户列表`"></contentHeader>
        <el-row>
          <el-table
            :data="tableData3"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column
              type="selection"
              width="55">
            </el-table-column>
            <el-table-column
              label="用户编号"
              show-overflow-tooltip
              width="120">
              <template slot-scope="scope">{{ scope.row.userNo }}</template>
            </el-table-column>
            <el-table-column
              prop="loginName"
              label="登录账号"
              width="120"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="name"
              label="真实姓名"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="positionTypeName"
              label="职位名称"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="mobile"
              label="手机号码"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="enableFlagName"
              label="状态"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              label="操作"
            width="200">
              <template slot-scope="scope">
                <el-button @click="check(scope.row.userNo)" type="primary" size="mini">查看</el-button>
                <el-button @click="edit(scope.row.userNo)" size="mini">编辑</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-row>
        <el-row class="page-choose" type="flex" justify="center" align="middle">
          <el-pagination
            :page-size="pageSize"
            @current-change="handleCurrentChange"
            :current-page="this.queryForm.pageNum"
            layout="total, prev, pager, next, jumper"
            :total="totalPages">
          </el-pagination>
        </el-row>
      </div>
    </div>
</template>
<script>
  import contentHeader from '../../contentHeader'
    export default {
        data() {
            return {
              options:[],
              totalPages:0,
              pageNo:1,
              pageSize:10,
              queryForm:{
                name:'',
                enableFlag:'',
                loginName:'',
                mobile:'',
                numPerPage:10,
                pageNum:1,
                positionTypeName:'',
                userNo:'',
                token:this.$store.state.token
              },
              tableData3: [],
              selectUser: [],
              btnShow:{
                add:false,
                select:false,
                resert:false,
                delete:false,
                enable:false,
                unenable:false,
                import:false,
              }
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          contentHeader,
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.queryUserState()
          this.queryList()
          this.queryBtn()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          check(id){
            this.$store.commit('changeEdit',false)
            this.$store.commit('changeId',id)
            this.$router.push('/account/userEdit')
          },
          edit(id){
            this.$store.commit('changeEdit',true)
            this.$store.commit('changeId',id)
            this.$router.push('/account/userEdit')
          },
          start(){
            if(this.selectUser.length<1){
              this.$message({
                type:'warning',
                message:"请至少选择一条记录"
              })
              return
            }
            this.$axios.HttpPost('/user/updateUserStatus.json',
              {
                token:this.$store.state.token,
                updateBy:this.$store.state.userName,
                type:0,
                userNos:this.selectUser
              }
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:data.msg
                })
                this.queryList()
              });
          },
          stop(){
            if(this.selectUser.length<1){
              this.$message({
                type:'warning',
                message:"请至少选择一条记录"
              })
              return
            }
            this.$axios.HttpPost('/user/updateUserStatus.json',
              {
                token:this.$store.state.token,
                updateBy:this.$store.state.userName,
                type:1,
                userNos:this.selectUser
              }
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:data.msg
                })
                this.queryList()
              });
          },
          deleteUser(){
            if(this.selectUser.length<1){
              this.$message({
                type:'warning',
                message:"请至少选择一条记录"
              })
              return
            }
            this.$axios.HttpPost('/user/deleteUser.json',
              {
                token:this.$store.state.token,
                updateBy:this.$store.state.userName,
                userNos:this.selectUser
              }
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:data.msg
                })
                this.queryList()
              });
          },
          add(){
            this.$store.commit('changeEdit',true)
            this.$store.commit('changeId',"")
            this.$router.push('/account/userEdit')
          },
          reset(){
            this.queryForm = {
              name:'',
              enableFlag:'',
              loginName:'',
              mobile:'',
              positionTypeName:'',
              userNo:'',
              numPerPage:10,
              pageNum:1,
              token:this.$store.state.token
            }
          },
          handleSelectionChange(val){
            this.filterUserNo(val)
          },
          filterUserNo(val){
            this.selectUser = [];
            for(let i=0;i<val.length;i++){
              this.selectUser.push(val[i].userNo)
            }
          },
          handleCurrentChange(val){
            this.queryForm.pageNum = val
            this.queryList()
          },
          queryList(){
            this.$axios.HttpPost('/user/queryUserList.json',
              this.queryForm
            )
              .then((data) => {
                if(data.data.pageData){
                  this.totalPages = data.data.dataTotal
                  this.tableData3 = data.data.pageData
                }
              });
          },
          queryBtn(){
            ///account/operate/roleOperLoad.json
            this.$axios.HttpPost('/account/operate/roleOperLoad.json',
              {
                menuNo:this.$store.state.menuNo,
                operateType:'0',
                type:'0',
                roleNo:'JS000004',
                token:this.$store.state.token
              }
            )
              .then((data) => {
                if(data.data){
                  for(let i=0;i<data.data.length;i++){
                    if(data.data[i].operateKey=='add'){
                      this.btnShow.add=true
                    }else if(data.data[i].operateKey=='select'){
                      this.btnShow.select=true
                    }else if(data.data[i].operateKey=='resert'){
                      this.btnShow.resert=true
                    }else if(data.data[i].operateKey=='delete'){
                      this.btnShow.delete=true
                    }else if(data.data[i].operateKey=='enable'){
                      this.btnShow.enable=true
                    }else if(data.data[i].operateKey=='unenable'){
                      this.btnShow.unenable=true
                    }else if(data.data[i].operateKey=='import'){
                      this.btnShow.import=true
                    }
                  }
                }
              });
          },
          queryUserState(){
            this.$axios.HttpPost('/dic/queryDicList.json',
              {
                type:"jd_increase_type",
                token:this.$store.state.token
              }
            )
              .then((data) => {
                if(data.data){
                  this.options = data.data
                }
              });
          }
        }
    }
</script>
<style scoped>
  .product-btn .el-button--info{
    width: 88px;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    color: #4A4A4A;
  }
  .product-btn .el-button--info:hover{
    width: 88px;
    background-color: #4a83ff;
    border-color: #4a83ff;
    color: #fff;
  }
  .list{
    margin-top: .5rem;
  }
</style>
