<template>
    <div class="infoForm">
      <contentHeader :queryTitle="`基本信息`"></contentHeader>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <el-form v-model="detailForm">
            <el-form-item label-width="90px" label="菜单编号">
              <el-input maxLength="30" disabled v-model="detailForm.menuNo">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="所属系统">
              <el-select :disabled="!!this.$store.state.detailId" v-model="detailForm.systemNo" placeholder="请选择">
                <el-option
                  v-for="item in sysOptions"
                  :key="item.systemNo"
                  :label="item.systemName"
                  :value="item.systemNo">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label-width="90px" label="上级菜单">
              <el-input disabled v-model="detailForm.parentName">
                <template v-if="this.$store.state.isEdit" slot="append">
                  <el-button @click="queryMenu" slot="append" icon="el-icon-search"></el-button>
                </template>
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="菜单名称">
              <el-input maxLength="30" :disabled="!this.$store.state.isEdit" v-model="detailForm.menuName">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="菜单链接">
              <el-input maxLength="30" :disabled="!this.$store.state.isEdit" v-model="detailForm.href">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="排序值">
              <el-input maxLength="5" :disabled="!this.$store.state.isEdit" v-model="detailForm.sort">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="权限标识">
              <el-input maxLength="30" :disabled="!this.$store.state.isEdit" v-model="detailForm.permission">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="显示状态">

              <el-select :disabled="!this.$store.state.isEdit" v-model="detailForm.isShow" placeholder="请选择">
                <el-option
                  v-for="item in showOpt"
                  :key="item.label"
                  :label="item.dicValue"
                  :value="item.label">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label-width="90px" label="创建人">
              <el-input disabled v-model="detailForm.createBy">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="创建时间">
              <el-date-picker
                disabled
                v-model="detailForm.updateDate"
                align="right"
                type="datetime"
                format="yyyy-MM-dd hh:mm:ss"
                value-format="yyyy-MM-dd hh:mm:ss"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label-width="90px" label="备注">
              <el-input maxLength="100" :disabled="!this.$store.state.isEdit" v-model="detailForm.remarks" type="textarea">
              </el-input>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row>
        <el-dialog title="选择上级菜单" :visible.sync="menuDialogVisible">
          <el-row>
            <el-tree default-expand-all :data="treeData" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
          </el-row>
          <div slot="footer" class="dialog-footer">
            <el-button @click="()=>{menuDialogVisible = false;}">取 消</el-button>
            <el-button type="primary" @click="()=>{menuDialogVisible = false;}">确 定</el-button>
          </div>
        </el-dialog>
      </el-row>
      <contentHeader :queryTitle="`操作权限`"></contentHeader>
      <el-row style="margin: 10px 0">
        <el-col v-if="this.$store.state.isEdit" :offset="1" :span="2">
          <el-button size="mini" type="primary" @click="()=>{jgDialogVisible = true;editType = '1'}">添加</el-button>
        </el-col>
        <el-col v-if="this.$store.state.isEdit" :span="2">
          <el-button @click="deleteId" size="mini">删除</el-button>
        </el-col>
        <el-col :offset="1" :span="5">
          <el-input maxLength="30" v-model="operateKey" placeholder="请输入操作名称"></el-input>
        </el-col>
        <el-col :offset="2" :span="2">
          <el-button @click="()=>{pageNo=1; queryOpe()}" type="primary" size="mini">查询</el-button>
        </el-col>
      </el-row>
      <el-row>
          <el-dialog width="40%" title="编辑操作" :visible.sync="jgDialogVisible" :before-close="()=>{
          dialogForm.operateValue='';
              dialogForm.operateRemark='';
              dialogForm.operateKey='';
              jgDialogVisible = false;
          }">
            <el-row>
            <el-form>
              <el-col :span="18">
              <el-form-item label-width="90px" label="操作名称">
                <el-input maxLength="30" v-model="dialogForm.operateValue"></el-input>
              </el-form-item>
              <el-form-item label-width="90px" label="操作键值">
                <el-input maxLength="30" :disabled="this.editType==0" v-model="dialogForm.operateKey"></el-input>
              </el-form-item>
              <el-form-item label-width="90px" label="备注">
                <el-input maxLength="100" v-model="dialogForm.operateRemark" type="textarea"></el-input>
              </el-form-item>
              </el-col>
            </el-form>
            </el-row>
            <div slot="footer" class="dialog-footer">
              <el-button @click="()=>{dialogForm.operateValue='';
              dialogForm.operateRemark='';
              dialogForm.operateKey='';
              jgDialogVisible = false}">取 消</el-button>
              <el-button type="primary" @click="()=>{
                editType == '0' ? edit() : add()
              }">确 定</el-button>
            </div>
          </el-dialog>
      </el-row>
      <el-row>
        <el-table
          :data="tableData3"
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="handleSelectionChange">
          <el-table-column
            type="selection">
          </el-table-column>
          <el-table-column
            label="序号">
            <template slot-scope="scope">{{ scope.row.id }}</template>
          </el-table-column>
          <el-table-column
            prop="operateValue"
            label="操作名称">
          </el-table-column>
          <el-table-column
            prop="operateKey"
            label="操作键值"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="operateRemark"
            label="备注信息"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            v-if="this.$store.state.isEdit"
            label="操作">
            <template slot-scope="scope">
              <el-button @click="()=>{
                jgDialogVisible = true;
                editType = '0'
                currentId = scope.row.id
                dialogForm.operateKey = scope.row.operateKey
                dialogForm.operateValue = scope.row.operateValue
                dialogForm.operateRemark = scope.row.operateRemark
              }" type="primary" size="mini">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-row>
      <el-row class="page-choose" type="flex" justify="center" align="middle">
        <el-pagination
          :page-size="pageSize"
          @current-change="handleCurrentChange"
          :current-page="this.pageNo"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
      <el-row>
        <el-col :offset="1">
          <div class="divider"></div>
          <el-button v-if="this.$store.state.isEdit" @click="querySame" size="mini" type="primary">保存</el-button>
          <router-link v-if="!this.$store.state.isEdit" to="/account/menuIndex">
            <el-button size="mini" type="primary">返回</el-button>
          </router-link>
        </el-col>
      </el-row>
      <div style="height: 2rem"></div>
    </div>
</template>
<script>
  import contentHeader from '../../contentHeader'
    export default {
        data() {
            return {
              editType:'',//0编辑权限 1新加权限
              detailForm:{
              },//弹出框表单
              sysOptions:[],//所属系统选项
              showOpt:[],//状态选项
              totalPages:0,
              pageNo:1,
              pageSize:10,
              jgDialogVisible:false,
              menuDialogVisible:false,
              tableData3: [],
              multipleSelection: [],
              dialogForm:{
                createTime:new Date()
              },
              currentId:'',//当前选中的id
              operateKey:'',//操作名称
              treeData: [],
              defaultProps: {
                children: 'children',
                label: 'label'
              }
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          contentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.queryState()
          if(this.$store.state.detailId != ''){
            this.queryDetail()
            this.queryOpe()
          }else{
            this.queryInit()
          }
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          handleSelectionChange(val){
            this.multipleSelection = [];
            for(let i=0;i<val.length;i++){
              this.multipleSelection.push(val[i].id)
            }
          },
          handleCurrentChange(val){
            this.pageNo = val
            this.queryOpe()
          },
          queryState(){
            this.$axios.HttpPost('/system/getSystemList.json',
              {
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.sysOptions = data.data
              });
            this.$axios.HttpPost('/dic/queryDicList.json',
              {
                type:"common_isVisable_flag",
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.showOpt = data.data
              });
          },
          save(){
            // /menu/save.json
            let url = ''
            if(this.$store.state.detailId == ''){
              url = '/menu/save.json'

            }else{
              url = '/menu/update.json'
            }
            this.detailForm.token = this.$store.state.token
            this.$axios.HttpPost(url,
              this.detailForm
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:"保存成功"
                })
              });
          },
          add(){
            ///account/operate/save.json
            this.dialogForm.token = this.$store.state.token
            this.dialogForm.menuNo = this.detailForm.menuNo
            this.$axios.HttpPost('/account/operate/save.json',
              this.dialogForm
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:'新增成功'
                })
                this.dialogForm.operateKey = ''
                this.dialogForm.operateValue = ''
                this.dialogForm.operateRemark = ''
                this.queryOpe()
              });
            this.jgDialogVisible = false
          },
          deleteId(){
            //删除操作权限
            if(this.multipleSelection.length<1){
              this.$message({
                type:'warning',
                message:"请至少选择一条记录"
              })
              return;
            }
            this.$axios.HttpPost('/menu/delOperate.json',
              {
                ids:this.multipleSelection,
                menuNo:this.$store.state.detailId,
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:'删除成功'
                })
                this.queryOpe()
              });
          },
          edit(){
            //编辑操作权限
            this.dialogForm.id = this.currentId
            this.dialogForm.token = this.$store.state.token
            this.$axios.HttpPost('/menu/updateOperate.json',
              this.dialogForm
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:'编辑成功'
                })
                this.dialogForm.operateKey = ''
                this.dialogForm.operateValue = ''
                this.dialogForm.operateRemark = ''
                this.queryOpe()
              });
            this.jgDialogVisible = false
          },
          queryMenu(){
            this.$axios.HttpPost('/menu/list.json',
              {
                menuName:'',
                roleId:'',
                showStatus:'',
                systemNo:this.detailForm.systemNo,
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.menuDialogVisible = true
                if(data.data){
                  this.treeData = data.data
                }else {
                  this.treeData = []
                  this.$message({
                    type:'warning',
                    message:'查询无数据'
                  })
                }
              });
          },
          handleNodeClick(val){
            this.detailForm.parentName = val.menuName
            this.detailForm.parentNo = val.menuNo
          },
          queryDetail(){
            this.$axios.HttpPost('/menu/queryMenuById.json',
              {
                menuNo:this.$store.state.detailId,
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.detailForm = data.data
              });
          },
          queryInit(){
            this.$axios.HttpPost('/menu/init.json',
              {
                token:this.$store.state.token,
              }
            )
              .then((data) => {

                this.detailForm = data.data
                this.detailForm.isShowStr = '42'

              });
          },
          querySame(){
            let that = this
            this.$axios.HttpPost('/menu/checkMenuPermission.json',
              {
                menuNo:this.$store.state.detailId,
                permission:this.detailForm.permission,
                token:this.$store.state.token,
                systemNo:this.detailForm.systemNo
              }
            )
              .then((data) => {
                if(data.code == 200){
                  that.save()
                }else{
                  this.$message({
                    type:'warning',
                    message:data.msg
                  })
                }
              });
          },
          queryOpe(){
            //分页查询操作权限
            this.$axios.HttpPost('/menu/queryOperate.json',
              {
                operateValue:this.operateKey,
                menuNo:this.$store.state.detailId,
                numPerPage:10,
                pageNum:this.pageNo,
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                if(data.data){
                  this.totalPages = data.data.dataTotal
                  this.tableData3 = data.data.pageData
                }else{
                  this.totalPages = 0
                  this.tableData3 = []
                }
              });
          }
        }
    }
</script>
<style scoped>

</style>
