<template>
    <div>
      <contentHeader :queryTitle="`查询条件`"></contentHeader>
      <el-row style="margin-top: 1rem">
        <el-form label-width="80px">
          <el-col :offset="1" :span="6">
            <el-form-item label="角色名称">
              <el-input maxLength="30" v-model="queryForm.roleName" type="text" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="所属系统">
              <el-select v-model="queryForm.systemNo" placeholder="请选择">
                <el-option
                  v-for="item in sysKeys"
                  :key="item.systemNo"
                  :label="item.systemName"
                  :value="item.systemNo">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="角色状态">
              <el-select v-model="queryForm.enableFlag" placeholder="请选择">
                <el-option
                  v-for="item in roleKeys"
                  :key="item.label"
                  :label="item.dicValue"
                  :value="item.label">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <el-row class="product-btn">
        <el-col :offset='1' :span="3">
          <el-button v-if="btnShow.select" @click="()=>{queryForm.pageNum=1; queryList()}" size="mini" type="info">查询</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.resert" @click="reset" size="mini" type="info">重置</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.add" @click="add" size="mini" type="info">添加</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.enable" @click="start" size="mini" type="info">启用</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.unenable" @click="stop" size="mini" type="info">停用</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.delete" @click="deleteUser" size="mini" type="info">删除</el-button>
        </el-col>
      </el-row>
      <div class="list">
        <contentHeader :queryTitle="`角色列表`"></contentHeader>
        <el-row>
          <el-table
            :data="tableData3"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column
              type="selection"
              width="55">
            </el-table-column>
            <el-table-column
              label="角色编号"
              show-overflow-tooltip
              width="120">
              <template slot-scope="scope">{{ scope.row.roleNo }}</template>
            </el-table-column>
            <el-table-column
              prop="roleName"
              label="角色名称"
              show-overflow-tooltip
              width="120">
            </el-table-column>
            <el-table-column
              prop="systemName"
              label="所属系统"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="enableFlag"
              label="角色状态"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="createBy"
              label="创建人"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              label="操作">
              <template slot-scope="scope">
                <el-button @click="check(scope.row.roleNo)" type="primary" size="mini">查看</el-button>
                <el-button @click="edit(scope.row.roleNo)" size="mini">编辑</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-row>
        <el-row class="page-choose" type="flex" justify="center" align="middle">
          <el-pagination
            :page-size="pageSize"
            @current-change="handleCurrentChange"
            :current-page="this.queryForm.pageNum"
            layout="total, prev, pager, next, jumper"
            :total="totalPages">
          </el-pagination>
        </el-row>
      </div>
    </div>
</template>
<script>
  import contentHeader from '../../contentHeader'
    export default {
        data() {
            return {
              value:"",
              sysKeys:[],//所属系统
              roleKeys:[],//角色状态
              queryForm:{
                enableFlag:'',
                roleName:'',
                systemNo:"",
                numPerPage:10,
                pageNum:1,
                token:this.$store.state.token
              },
              totalPages:0,
              pageNo:1,
              pageSize:10,
              tableData3: [],
              multipleSelection: [],
              selectRole:[],
              btnShow:{
                add:false,
                select:false,
                resert:false,
                delete:false,
                enable:false,
                unenable:false,
                import:false,
              }
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          contentHeader,
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.queryList()
          this.getSys()
          this.getRole()
          this.queryBtn()//查询页面按钮权限
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          queryBtn(){
            ///account/operate/roleOperLoad.json
            this.$axios.HttpPost('/account/operate/roleOperLoad.json',
              {
                menuNo:this.$store.state.menuNo,
                operateType:'0',
                type:'0',
                roleNo:'JS000004',
                token:this.$store.state.token
              }
            )
              .then((data) => {
                if(data.data){
                  for(let i=0;i<data.data.length;i++){
                    if(data.data[i].operateKey=='add'){
                      this.btnShow.add=true
                    }else if(data.data[i].operateKey=='select'){
                      this.btnShow.select=true
                    }else if(data.data[i].operateKey=='resert'){
                      this.btnShow.resert=true
                    }else if(data.data[i].operateKey=='delete'){
                      this.btnShow.delete=true
                    }else if(data.data[i].operateKey=='enable'){
                      this.btnShow.enable=true
                    }else if(data.data[i].operateKey=='unenable'){
                      this.btnShow.unenable=true
                    }else if(data.data[i].operateKey=='import'){
                      this.btnShow.import=true
                    }
                  }
                }
              });
          },
          handleSelectionChange(val){
            this.selectRole = [];
            for(let i=0;i<val.length;i++){
              this.selectRole.push(val[i].roleNo)
            }
          },
          handleCurrentChange(val){
            //分页翻页
            this.queryForm.pageNum = val
            this.queryList()
          },
          check(id){
            this.$store.commit('changeEdit',false)
            this.$store.commit('changeId',id)
            this.$router.push('/account/roleEdit')
          },
          edit(id){
            this.$store.commit('changeEdit',true)
            this.$store.commit('changeId',id)
            this.$router.push('/account/roleEdit')
          },
          start(){
            if(this.selectRole.length<1){
              this.$message({
                type:'warning',
                message:'请至少选择一条记录'
              })
              return
            }
            this.$axios.HttpPost('/account/role/enable.json',
              {
                token:this.$store.state.token,
                enableFlag:"0",
                roleNos:this.selectRole
              }
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:'启用成功'
                })
                this.queryList()
              });
          },
          stop(){
            if(this.selectRole.length<1){
              this.$message({
                type:'warning',
                message:'请至少选择一条记录'
              })
              return
            }
            this.$axios.HttpPost('/account/role/enable.json',
              {
                token:this.$store.state.token,
                enableFlag:"1",
                roleNos:this.selectRole
              }
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:"停用成功"
                })
                this.queryList()
              });
          },
          deleteUser(){
            if(this.selectRole.length<1){
              this.$message({
                type:'warning',
                message:'请至少选择一条记录'
              })
              return
            }
            this.$axios.HttpPost('/account/role/deleteRole.json',
              {
                token:this.$store.state.token,
                roleNos:this.selectRole,
                delFlag:"1"
              }
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:"删除成功"
                })
                this.queryList()
              });
          },
          add(){
            this.$store.commit('changeEdit',true)
            this.$store.commit('changeId',"")
            this.$router.push('/account/roleEdit')
          },
          reset(){
            this.queryForm = {
              roleName:'',
              enableFlag:'',
              systemNo:"",
              numPerPage:10,
              pageNum:1,
              token:this.$store.state.token
            }
          },
          getSys(){
            this.$axios.HttpPost('/system/getSystemList.json',
              { token:this.$store.state.token}
            )
              .then((data) => {
                this.sysKeys = data.data;
              });
          },
          getRole(){
            this.$axios.HttpPost('/dic/queryDicList.json',
              {
                type:"common_enable_flag",
                token:this.$store.state.token
              }
            )
              .then((data) => {
                this.roleKeys = data.data;
              });
          },
          queryList(){
            this.$axios.HttpPost('/account/role/findPage.json',
              this.queryForm
            )
              .then((data) => {
                if(data.data.pageData){
                  this.totalPages = data.data.dataTotal
                  this.tableData3 = data.data.pageData
                }
              });
          },
        }
    }
</script>
<style scoped>
  .product-btn .el-button--info{
    width: 88px;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    color: #4A4A4A;
  }
  .product-btn .el-button--info:hover{
    width: 88px;
    background-color: #4a83ff;
    border-color: #4a83ff;
    color: #fff;
  }
  .list{
    margin-top: .5rem;
  }
</style>
