<template>
    <div class="infoForm">
      <contentHeader :queryTitle="`基本信息`"></contentHeader>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <el-form v-model="detailForm">
            <el-form-item label-width="90px" label="角色编号">
              <el-input disabled v-model="detailForm.roleNo"></el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="所属系统">
              <el-select @change="systemChange" :disabled="!!this.$store.state.detailId || sysEdit" v-model="detailForm.systemNo" placeholder="请选择">
                <el-option
                  v-for="item in accountSystem"
                  :key="item.systemNo"
                  :label="item.systemName"
                  :value="item.systemNo">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label-width="90px" label="角色名称">
              <el-input maxLength="30" :disabled="!this.$store.state.isEdit" v-model="detailForm.roleName">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="角色标识">
              <el-input maxLength="30" :disabled="!this.$store.state.isEdit" v-model="detailForm.enname">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="创建人">
              <el-input maxLength="30" v-model="detailForm.createBy" disabled>
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="创建时间">
              <el-date-picker
                disabled
                v-model="detailForm.createDate"
                type="datetime"
                placeholder="选择日期"
                format="yyyy-MM-dd hh:mm:ss"
                value-format="yyyy-MM-dd hh:mm:ss">
              </el-date-picker>
            </el-form-item>
            <el-form-item label-width="90px" label="状态">
              <el-select :disabled="!this.$store.state.isEdit" v-model="detailForm.enableFlag" placeholder="请选择">
                <el-option
                  v-for="item in accountDic"
                  :key="item.label"
                  :label="item.dicValue"
                  :value="item.label">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label-width="90px" label="备注">
              <el-input maxLength="100" v-model="detailForm.remarks" :disabled="!this.$store.state.isEdit" type="textarea">
              </el-input>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <contentHeader :queryTitle="`配置权限`"></contentHeader>
      <el-row>
        <el-col :offset="1" :span="9">
          <el-tree
            :data="accountMenus"
            ref="tree"
            show-checkbox
            node-key="id"
            default-expand-all
            highlight-current
            @node-click="handleNodeClick"
            @check-change="handleCheckChange"
            :expand-on-click-node="false">
          </el-tree>
        </el-col>
        <el-col :span="14">
          <el-tabs v-model="activeName" @tab-click="()=>{}">
            <el-tab-pane label="机构权限" name="third">
              <el-table
                :data="jgData"
                tooltip-effect="dark"
                style="width: 100%"
                size="mini"
                ref="jgTb"
                @current-change="handleCurrentChange"
                highlight-current-row>
                <el-table-column
                  label="权限名称"
                  width="200">
                  <template slot-scope="scope">{{ scope.row.operateValue }}</template>
                </el-table-column>
                <el-table-column
                  prop="operateRemark"
                  label="权限说明"
                  width="230">
                </el-table-column>
              </el-table>
            </el-tab-pane>
            <el-tab-pane label="操作权限" name="first">
              <el-row style="margin: 10px 0">
                <el-col :offset="1" :span="2">
                  <el-button v-if="this.$store.state.isEdit && this.sysNo!=''" size="mini" type="primary" @click="()=>{czDialogVisible = true}">添加</el-button>
                </el-col>
                <el-col :offset="1" :span="2">
                  <el-button v-if="this.$store.state.isEdit && this.sysNo!=''" @click="remove('0')" size="mini">移除</el-button>
                </el-col>
              </el-row>
              <el-table
                :data="czData"
                tooltip-effect="dark"
                style="width: 100%"
                size="mini"
                @selection-change="czSelectionChange">
                <el-table-column
                  type="selection"
                  width="55">
                </el-table-column>
                <el-table-column
                  v-if="false"
                  prop="id"
                  label="id"
                  width="120">
                </el-table-column>
                <el-table-column
                  label="操作名称"
                  width="120">
                  <template slot-scope="scope">{{ scope.row.operateValue }}</template>
                </el-table-column>
                <el-table-column
                  prop="operateKey"
                  label="操作键值"
                  width="120">
                </el-table-column>
                <el-table-column
                  v-if="this.$store.state.isEdit && this.sysNo!=''"
                  label="编辑">
                  <template slot-scope="scope">
                    <el-button  @click="remove('0',scope.row.id)" type="primary" size="mini">移除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-tab-pane>
            <el-tab-pane label="查询权限" name="second">
              <el-row style="margin: 10px 0">
                <el-col :offset="1" :span="2">
                  <el-button v-if="this.$store.state.isEdit && this.sysNo!=''" size="mini" type="primary" @click="()=>{cxDialogVisible = true}">添加</el-button>
                </el-col>
                <el-col :offset="1" :span="2">
                  <el-button v-if="this.$store.state.isEdit && this.sysNo!=''" @click="remove('1')" size="mini">移除</el-button>
                </el-col>
              </el-row>
              <el-table
                :data="cxData"
                tooltip-effect="dark"
                style="width: 100%"
                size="mini"
                @selection-change="cxSelectionChange">
                <el-table-column
                  type="selection"
                  width="55">
                </el-table-column>
                <el-table-column
                  v-if="false"
                  prop="id"
                  label="id"
                  width="120">
                </el-table-column>
                <el-table-column
                  label="字段键"
                  width="120">
                  <template slot-scope="scope">{{ scope.row.operateKey }}</template>
                </el-table-column>
                <el-table-column
                  prop="operateValue"
                  label="字段值"
                  width="120">
                </el-table-column>
                <el-table-column
                  prop="operateRemark"
                  label="备注"
                  width="120">
                </el-table-column>
                <el-table-column
                  v-if="this.$store.state.isEdit && this.sysNo!=''"
                  label="编辑">
                  <template slot-scope="scope">
                    <el-button @click="remove('1',scope.row.id)" type="primary" size="mini">移除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-tab-pane>
          </el-tabs>
        </el-col>
      </el-row>
      <el-row>
        <el-dialog width="500px" title="添加操作权限" :visible.sync="czDialogVisible">
          <el-row>
            <el-form>
              <el-form-item label="操作名称">
                <el-select v-model="czForm.operate.operateKey" placeholder="请选择">
                  <el-option
                    v-for="item in dialogJg"
                    :key="item.operateValue"
                    :label="item.operateValue"
                    :value="item.operateKey">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-form>
          </el-row>
          <div slot="footer" class="dialog-footer">
            <el-button @click="czDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="addCz">确 定</el-button>
          </div>
        </el-dialog>
      </el-row>
      <el-row>
        <el-dialog width="500px" title="添加查询权限" :visible.sync="cxDialogVisible">
          <el-row>
            <el-form v-model="cxForm">
              <el-form-item label-width="90px" label="字段键">
                <el-input maxLength="30" v-model="cxForm.operate.operateKey"></el-input>
              </el-form-item>
              <el-form-item label-width="90px" label="字段值">
                  <el-input maxLength="30" v-model="cxForm.operate.operateValue"></el-input>
              </el-form-item>
              <el-form-item label-width="90px" label="备注">
                  <el-input maxLength="30" v-model="cxForm.operate.operateRemark"></el-input>
              </el-form-item>
            </el-form>
          </el-row>
          <div slot="footer" class="dialog-footer">
            <el-button @click="cxDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="addCx">确 定</el-button>
          </div>
        </el-dialog>
      </el-row>
      <el-row>
        <el-col :offset="1">
          <div class="divider"></div>
          <el-button v-if="this.$store.state.isEdit" @click="save" size="mini" type="primary">保存</el-button>
          <router-link v-if="!this.$store.state.isEdit" to="/account/roleIndex">
            <el-button size="mini" type="primary">返回</el-button>
          </router-link>
        </el-col>
      </el-row>
      <div style="height: 2rem"></div>
    </div>
</template>
<script>
  import contentHeader from '../../contentHeader'
  import ElRow from "element-ui/packages/row/src/row";
    export default {
        data() {
            return {
              activeName:"third",//默认选中tab
              checkedArr:[],
              detailForm:{
              },//基本信息
              accountMenus:[],//菜单列表
              checkedKeys:[],//默认选中的tree
              accountSystem:[],//所属系统
              accountDic:[],//状态
              tempArr:[],
              sysNo:"",//当前页面系统编号
              jgData:[],//机构权限表格数据
              dialogJg:[],
              cxData:[],//查询权限表格数据
              czData:[],//操作权限表格数据
              options:[],
              totalPages:0,
              pageNo:1,
              pageSize:10,
              czDialogVisible:false,//操作权限弹窗
              cxDialogVisible:false,//查询权限弹窗
              multipleSelection: [],
              czForm:{
                token:this.$store.state.token,
                menuNo:this.sysNo,
                operate:{
                  operateKey:"",
                  operateType:"0",
                  operateValue:""
                }
              },//操作权限表单
              cxForm:{
                menuNo:this.sysNo,
                token:this.$store.state.token,
                operate:{
                  operateKey:"",
                  operateRemark:"",
                  operateType:"1",
                  operateValue:""
                }
              },//操作权限表单
              sysEdit:false,
              cxSelection:[],
              czSelection:[],
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          ElRow,
          contentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
            this.queryDetail(this.$store.state.detailId)
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          systemChange(val){
            this.queryMenu(val)
          },
          save(){
            if(this.sysNo == ''){
              this.$confirm('如果没有选择权限，将保存为默认权限，是否保存?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {
                this.detailForm.token = this.$store.state.token
                this.detailForm.roleOpers = this.checkedArr
                this.$axios.HttpPost('/account/role/save.json',
                  this.detailForm
                )
                  .then((data) => {
                    this.$message({
                      type:"success",
                      message:"保存成功"
                    })
                    this.sysEdit = true
                  });
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '已取消保存'
                });
              });
            }else{
              this.detailForm.token = this.$store.state.token
              this.detailForm.roleOpers = this.checkedArr
              this.$axios.HttpPost('/account/role/save.json',
                this.detailForm
              )
                .then((data) => {
                  this.$message({
                    type:"success",
                    message:"保存成功"
                  })
                  this.sysEdit = true
                });
            }
          },
          cxSelectionChange(val){
            this.cxSelection = []
            for(let i=0;i<val.length;i++){
              this.cxSelection.push(val[i].id)
            }
          },
          czSelectionChange(val){
            this.czSelection = []
            for(let i=0;i<val.length;i++){
              this.czSelection.push(val[i].id)
            }
          },
          handleCurrentChange(val){
            if(!val){
              return;
            }
            let pushFlag = true
            if(this.checkedArr.length == 0){
              this.checkedArr.push({
                deptOp:val.operateKey,
                menuNo:this.sysNo
              })
            }else {
              for(let i=0;i<this.checkedArr.length;i++){
                if(this.checkedArr[i].menuNo == this.sysNo){
                  this.checkedArr[i].deptOp = val.operateKey
                  pushFlag = false
                }
              }
              if(pushFlag){
                this.checkedArr.push({
                  deptOp:val.operateKey,
                  menuNo:this.sysNo
                })
              }
              console.log("新增后checkedArr==="+JSON.stringify(this.checkedArr));
            }
          },
          queryJgOpt(){
            //机构权限弹出层
            this.$axios.HttpPost('/account/operate/selectMenuOper.json',
              {
                menuNo:this.sysNo,
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.dialogJg = []
                this.dialogJg = data.data
              });
          },
          queryjg(){
            //机构权限
            this.$axios.HttpPost('/account/operate/roleOperLoad.json',
              {
                menuNo:this.sysNo,
                token:this.$store.state.token,
                operateType:'2',
                roleNo:this.$store.state.detailId
              }
            )
              .then((data) => {
                this.jgData = []
                this.jgData = data.data

                setTimeout(()=>{
                  for(let i=0;i<data.data.length;i++){
                    if(data.data[i].checkFlag == "1"){
                      this.$refs.jgTb.setCurrentRow(data.data[i]);
                    }
                  }
                },300)

              });
          },
          querycx(){
            //查询权限
            this.$axios.HttpPost('/account/operate/roleOperLoad.json',
              {
                menuNo:this.sysNo,
                token:this.$store.state.token,
                operateType:'1',
                roleNo:this.$store.state.detailId
              }
            )
              .then((data) => {
                this.cxData = data.data
              });
          },
          querycz(){
            //操作权限
            this.$axios.HttpPost('/account/operate/roleOperLoad.json',
              {
                menuNo:this.sysNo,
                token:this.$store.state.token,
                operateType:'0',
                roleNo:this.$store.state.detailId
              }
            )
              .then((data) => {
                this.czData = data.data
                this.options = data.data
              });
          },
          handleNodeClick(data){
            this.sysNo = data.id;
            this.tempArr.push({
              id:data.id
            })
            this.$refs.tree.setCheckedNodes(this.tempArr)
            this.querycz()
            this.querycx()
            this.queryjg()
            this.queryJgOpt()
          },
          addCz(){
            //添加操作权限
            this.czForm.menuNo = this.sysNo
            this.czForm.roleNo = this.$store.state.detailId
            this.$axios.HttpPost('/account/operate/saveSelectOperate.json',
              this.czForm
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:"添加成功"
                })
                this.czForm.operate.operateKey=''
                this.czForm.operate.operateType='0'
                this.czForm.operate.operateValue=''
                this.querycz()
              });
            this.czDialogVisible = false
          },
          addCx(){
            //添加查询权限
            this.cxForm.menuNo = this.sysNo
            this.cxForm.roleNo = this.$store.state.detailId
            this.$axios.HttpPost('/account/operate/saveSelectOperate.json',
              this.cxForm
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:"添加成功"
                })
                this.cxForm = {
                  menuNo:this.sysNo,
                  token:this.$store.state.token,
                  operate:{
                    operateKey:"",
                    operateRemark:"",
                    operateType:"1",
                    operateValue:""
                  }
                }
                this.querycx()
                this.cxDialogVisible = false
              });
          },
          remove(type,id){
            var parms = {}
            if(type=='0'){
              if(id){
                //如果选择单条，清空多条选择
                this.czSelection=[]
                this.czSelection.push(id)
              }
              if( this.czSelection.length<1){
                this.$message({
                  type:'warning',
                  message:'请至少选择一条记录'
                })
                return
              }
              parms = {
                enable:"1",
                operIds:this.czSelection,
                token:this.$store.state.token,
                roleNo:this.$store.state.detailId,
                menuNo:this.sysNo,
              }
            }else if(type=='1'){
              if(id){
                //如果选择单条，清空多条选择
                this.cxSelection=[]
                this.cxSelection.push(id)
              }
              if( this.cxSelection.length<1){
                this.$message({
                  type:'warning',
                  message:'请至少选择一条记录'
                })
                return
              }
              parms = {
                enable:"1",
                operIds:this.cxSelection,
                token:this.$store.state.token,
                roleNo:this.$store.state.detailId,
                menuNo:this.sysNo,
              }
            }
            this.$axios.HttpPost('/account/operate/upEnable.json',
              parms
            )
              .then((data) => {
                this.$message({
                  type:"success",
                  message:"移除成功"
                })
                this.czSelection=[]
                this.cxSelection=[]
                if(type=='1'){
                  this.querycx()
                }else{
                  this.querycz()
                }
              });
          },
          checkData(val,e){
            //alert(JSON.stringify(val))
            var checkedIds = document.getElementsByClassName('checkId')
            //alert(checkedIds[0])
            for(var i=0;i<checkedIds.length;i++){
              checkedIds[i].setAttribute('checked',false)
            }
          },
          setChecked(arr){
            this.$refs.tree.setCheckedNodes(this.tempArr)
          },
          handleCheckChange(data,checked){
            //console.log(data, checked);
            if(checked){

            }else{
                for (let i=0;i<this.checkedArr.length;i++){
                  if(data.menuNo==this.checkedArr[i].menuNo){
                    this.checkedArr.splice(i, 1);
                    this.tempArr.splice(i, 1);
                  }
                }
             //console.log("取消后剩下的this.checkedArr===="+JSON.stringify(this.checkedArr))
              //console.log("取消后剩下的this.tempArr===="+JSON.stringify(this.tempArr))
            }
          },
          queryMenu(sysId){
            this.$axios.HttpPost('/menu/list.json',
              {
                menuName:'',
                roleId:'',
                showStatus:'',
                systemNo:sysId,
                token:this.$store.state.token
              }
            )
              .then((data) => {
                if(data.data){
                  this.accountMenus = data.data
                }else{
                  this.accountMenus=[]
                }
              });
          },
          queryDetail(id){
            this.$axios.HttpPost('/account/role/modifyLoad.json',
              {
                token:this.$store.state.token,
                roleNo:id
              }
            )
              .then((data) => {
                this.accountSystem = data.data.accountSystem
                this.accountDic = data.data.accountDic
                if(data.data.accountDic && data.data.accountMenus){
                  this.accountMenus = data.data.accountMenus
                }
                if(data.data.accountRole){
                  this.detailForm = data.data.accountRole
                }
                var that = this
                if(data.data.roleOpers){
                  this.checkedArr = data.data.roleOpers
                  this.tempArr=[]
                  for(let i=0;i<data.data.roleOpers.length;i++){
                    this.tempArr.push({
                      id:data.data.roleOpers[i].menuNo
                    })
                  }
                  setTimeout(that.setChecked,500)
                }
                console.log("返回的checkedArr===="+JSON.stringify(data.data.roleOpers))
                console.log("返回的tempArr===="+JSON.stringify(this.tempArr))
              });
          }
        }
    }
</script>
<style scoped>

</style>
