<template>
    <div class="infoForm">
      <contentHeader :queryTitle="`基本信息`"></contentHeader>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <el-form>
            <el-form-item label-width="90px" label="机构编号">
              <el-input disabled v-model="detailForm.deptNo">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="上级机构">
              <el-input disabled v-model="detailForm.parentName">
                <template v-if="this.$store.state.isEdit" slot="append">
                  <el-button @click="queryMenu" slot="append" icon="el-icon-search"></el-button>
                </template>
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="所属系统">
              <el-select v-model="detailForm.attach" :disabled="!this.$store.state.isEdit" placeholder="请选择">
                <el-option
                  v-for="item in options"
                  :key="item.systemNo"
                  :label="item.systemName"
                  :value="item.systemNo">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label-width="90px" label="机构名称">
              <el-input maxLength="20" :disabled="!this.$store.state.isEdit" v-model="detailForm.deptName">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="机构类型">
              <el-select v-model="detailForm.type" :disabled="!this.$store.state.isEdit" placeholder="请选择">
                <el-option
                  v-for="item in jgOpt"
                  :key="item.label"
                  :label="item.dicValue"
                  :value="item.label">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label-width="90px" label="排序值">
              <el-input maxLength="5" v-model="detailForm.sort" :disabled="!this.$store.state.isEdit">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="主负责人">
              <el-input v-model="detailForm.primaryPersion" disabled>
                <template v-if="this.$store.state.isEdit" slot="append">
                  <el-button @click="()=>{
                  responsType='0'
                   this.queryUsers()}" slot="append" icon="el-icon-search"></el-button>
                </template>
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="副负责人">
              <el-input v-model="detailForm.deputyPersion" disabled>
                <template v-if="this.$store.state.isEdit" slot="append">
                  <el-button  @click="()=>{
                  responsType='1'
                   this.queryUsers()}" slot="append" icon="el-icon-search"></el-button>
                </template>
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="机构状态">
              <el-select :disabled="!this.$store.state.isEdit" v-model="detailForm.enableFlag" placeholder="请选择">
                <el-option
                  v-for="item in ztOpt"
                  :key="item.label"
                  :label="item.dicValue"
                  :value="item.label">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label-width="90px" label="创建人">
              <el-input disabled v-model="detailForm.createBy">
              </el-input>
            </el-form-item>
            <el-form-item label-width="90px" label="创建时间">
              <el-date-picker
                v-model="detailForm.updateDate"
                disabled
                align="right"
                type="datetime"
                format="yyyy-MM-dd hh:mm:ss"
                value-format="yyyy-MM-dd hh:mm:ss"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label-width="90px" label="备注">
              <el-input maxLength="100" :disabled="!this.$store.state.isEdit" v-model="detailForm.remarks" type="textarea">
              </el-input>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row>
        <el-dialog title="添加用户（显示未分配当前机构的用户）" :visible.sync="userDialogVisible">
          <el-row>
            <el-col :span="6">
              <el-input maxLength="30" v-model="positionName" placeholder="模糊匹配职位名称">
              </el-input>
            </el-col>
            <el-col :offset="1" :span="6">
              <el-input maxLength="30" v-model="dialogUserName" placeholder="请输入用户姓名">
              </el-input>
            </el-col>
            <el-col :offset="1" :span="4"><el-button @click="()=>{dialogPgNo=1;queryUnAssigne()}" size="mini">查询</el-button></el-col>
        </el-row>
          <el-row>
            <el-table
              :data="userData"
              tooltip-effect="dark"
              highlight-current-row
              @current-change="userSingleChange"
              style="width: 100%">
              <el-table-column
                prop="loginName"
                label="登录账号"
                width="120">
              </el-table-column>
              <el-table-column
                prop="name"
                label="姓名"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="positionTypeName"
                label="职位名称"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="enableFlagName"
                label="状态"
                show-overflow-tooltip>
              </el-table-column>
            </el-table>
          </el-row>
          <el-row class="page-choose" type="flex" justify="center" align="middle">
            <el-pagination
              :page-size="pageSize"
              @current-change="handleDialogChange"
              layout="total, prev, pager, next, jumper"
              :total="dilogTotalPages">
            </el-pagination>
          </el-row>
          <div slot="footer" class="dialog-footer">
            <el-button @click="userDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="chooseUser">确 定</el-button>
          </div>
        </el-dialog>
      </el-row>
      <el-row>
        <el-dialog width="40%" title="选择上级机构" :visible.sync="menuDialogVisible">
          <el-row>
            <el-tree default-expand-all :data="treeData" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
          </el-row>
          <div slot="footer" class="dialog-footer">
            <el-button @click="()=>{menuDialogVisible = false
            }">取 消</el-button>
            <el-button type="primary" @click="()=>{menuDialogVisible = false
            detailForm.parentName = tmp1
            detailForm.parentNo = tmp2}">确 定</el-button>
          </div>
        </el-dialog>
      </el-row>
      <contentHeader :queryTitle="`配置用户`"></contentHeader>
      <el-row style="margin: 10px 0">
        <el-col v-if="this.$store.state.isEdit" :offset="1" :span="2">
          <el-button size="mini" type="primary" @click="()=>{
            responsType='2'
            this.queryUnAssigne()}">添加</el-button>
        </el-col>
        <el-col v-if="this.$store.state.isEdit" :span="2">
          <el-button @click="removeUser('')" size="mini">移除</el-button>
        </el-col>
        <el-col :offset="1" :span="4">
          <el-input maxLength="30" v-model="psName" placeholder="模糊匹配职位名称"></el-input>
        </el-col>
        <el-col :offset="1" :span="4">
          <el-input maxLength="30" v-model="userName" placeholder="请输入用户姓名"></el-input>
        </el-col>
        <el-col :offset="1" :span="2">
          <el-button @click="()=>{pageNo=1;queryList()}" type="primary" size="mini">查询</el-button>
        </el-col>
      </el-row>
      <el-row>
        <el-table
          :data="tableData3"
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="handleSelectionChange">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            label="序号"
            type="index"
            width="55">
          </el-table-column>
          <el-table-column
            prop="userNo"
            label="用户编号"
            width="120">
          </el-table-column>
          <el-table-column
            prop="loginName"
            label="登录账号"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="name"
            label="真实姓名"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="positionTypeName"
            label="职位名称"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="enableFlagName"
            label="状态"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            v-if="this.$store.state.isEdit"
            label="操作">
            <template slot-scope="scope">
              <el-button @click="removeUser(scope.row.userNo)" type="primary" size="mini">移除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-row>
      <el-row class="page-choose" type="flex" justify="center" align="middle">
        <el-pagination
          :page-size="pageSize"
          @current-change="handleCurrentChange"
          :current-page="this.pageNo"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
      <el-row>
        <el-col :offset="1">
          <div class="divider"></div>
          <el-button v-if="this.$store.state.isEdit" @click="save" size="mini" type="primary">保存</el-button>
          <router-link v-if="!this.$store.state.isEdit" to="/account/deptIndex">
            <el-button size="mini" type="primary">返回</el-button>
          </router-link>
        </el-col>
      </el-row>
      <div style="height: 2rem"></div>
    </div>
</template>
<script>
  import contentHeader from '../../contentHeader'
    export default {
        data() {
            return {
              options:[],
              dialogUserName:'',
              positionName:'',
              responsType:'',//0 主负责人 1 副负责人
              dilogTotalPages:0,
              totalPages:0,
              pageNo:1,
              dialogPgNo:1,
              pageSize:10,
              detailForm:{
              },
              jgOpt:[],
              ztOpt:[],
              jgDialogVisible:false,
              tableData3: [],
              multipleSelection: [],
              menuDialogVisible:false,
              treeData: [],
              defaultProps: {
                children: 'children',
                label: 'label'
              },
              userData:[],
              userDialogVisible:false,
              userIds:[],
              usrId:[],//单条添加user
              psName:"",
              userName:"",
              tmp1:"",
              tmp2:'',
              mainUser:'',
              secUser:''
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          contentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          if(this.$store.state.detailId == ""){
            this.queryInit()

          }else{
            this.queryDetail()
            this.queryList()
          }
          this.queryState()
          this.querySys()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          querySys(){
            //查询其他系统
            ///system/getSystemList.json
            this.$axios.HttpPost('/system/getSystemList.json',
              {token:this.$store.state.token}
            )
              .then((data) => {
                this.options=data.data
              });
          },
          handleSelectionChange(val){
            this.userIds = [];
            for(let i=0;i<val.length;i++){
              this.userIds.push(val[i].userNo)
            }
          },
          handleCurrentChange(val){
            this.pageNo = val
            this.queryList()
          },
          removeUser(id){
            if(id){
              //如果选择单条，清空多条选择
              this.userIds=[]
              this.userIds.push(id)
            }
            if(this.userIds.length<1){
              this.$message({
                type:'warning',
                message:'请至少选择一条记录'
              })
              return
            }
            this.$axios.HttpPost('/dept/remove.json',
              {
                token:this.$store.state.token,
                deptNo:this.$store.state.detailId,
                userIds:this.userIds
              }
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'移除成功'
                })
                this.queryList()
                this.userIds=[]
              });
          },

          addUser(){
            // /dept/addUserDept.json
            this.userDialogVisible = false
            this.$axios.HttpPost('/dept/addUserDept.json',
              {
                token:this.$store.state.token,
                deptNo:this.$store.state.detailId || this.detailForm.deptNo,
                userIds:this.usrId
              }
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'新增成功'
                })
                this.queryList()
              });
          },
          userSingleChange(val){
            if(val){
              if(this.responsType=='0'){
                this.mainUser = val.name
                //this.detailForm.primaryPersion = val.name
              }else if(this.responsType=='1'){
                this.secUser = val.name
                //this.detailForm.deputyPersion = val.name
              }else{
                this.usrId = []
                this.usrId.push(val.userNo)
              }
            }
          },
          chooseUser(){
            if(this.responsType=='0'){
              this.detailForm.primaryPersion = this.mainUser
              this.userDialogVisible = false
            }else if(this.responsType=='1'){
              this.userDialogVisible = false
              this.detailForm.deputyPersion = this.secUser
            }else{
              this.addUser()
            }
              //responsType =='2' ?  : userDialogVisible = false
          },
          handleDialogChange(val){
            this.dialogPgNo = val
            this.queryUnAssigne()
          },
          handleNodeClick(val){
            this.tmp1 = val.deptName
            this.tmp2 = val.deptNo
          },
          save(){
            let url=''
            if(this.$store.state.detailId == ""){
              url = '/dept/save.json'
            }else{
              url = '/dept/update.json'
            }
            this.detailForm.token = this.$store.state.token
            this.$axios.HttpPost(url,
              this.detailForm
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'保存成功'
                })
              });
          },
          queryList(){
            this.$axios.HttpPost('/user/unAssigneUserdPage.json',
              {
                deptNo:this.$store.state.detailId,
                token:this.$store.state.token,
                name:this.userName,
                numPerPage:10,
                pageNum:this.pageNo,
                positionTypeName:this.psName,
                unassigned: true,
              }
            )
              .then((data) => {
                if(data.data){
                  this.tableData3 = data.data.pageData
                  this.totalPages = data.data.dataTotal
                }
              });
          },
          queryInit(){
            this.$axios.HttpPost('/dept/init.json',
              {
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.detailForm = data.data
              });
          },
          queryState(){
            this.$axios.HttpPost('/dic/queryDicList.json',
              {
                token:this.$store.state.token,
                type:'common_debt_type'
              }
            )
              .then((data) => {
                this.jgOpt=data.data
              });
            this.$axios.HttpPost('/dic/queryDicList.json',
              {
                token:this.$store.state.token,
                type:'common_enable_flag'
              }
            )
              .then((data) => {
                this.ztOpt=data.data
              });
          },
          queryDetail(){
            this.$axios.HttpPost('/dept/queryOriginByNo.json',
              {
                deptNo:this.$store.state.detailId,
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.detailForm = data.data
              });
          },
          queryUnAssigne(){
            //查询未分配用户】
            this.$axios.HttpPost('/user/unAssigneUserdPage.json',
              {
                deptNo:this.$store.state.detailId,
                name:this.dialogUserName,
                numPerPage:10,
                pageNum:this.dialogPgNo,
                positionTypeName:this.positionName,
                unassigned:false,
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.userDialogVisible = true
                this.userData = data.data.pageData
                this.dilogTotalPages = data.data.dataTotal
              });
          },
          queryUsers(){
            this.$axios.HttpPost('/user/queryUserList.json',
              {
                name:'',
                numPerPage:10,
                pageNum:1,
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.userDialogVisible = true
                this.userData = data.data.pageData
                this.dilogTotalPages = data.data.dataTotal
              });
          },
          queryMenu(){
            this.$axios.HttpPost('/dept/list.json',
              {
                deptName:'',
                token:this.$store.state.token,
              }
            )
              .then((data) => {
                this.menuDialogVisible = true
                this.treeData = data.data
              });
          },
        }
    }
</script>
<style scoped>

</style>
