<template>
    <div>
      <contentHeader :queryTitle="`查询条件`"></contentHeader>
      <el-row style="margin-top: 1rem">
        <el-form label-width="80px">
          <el-col :offset="1" :span="6">
            <el-form-item label="机构名称">
              <el-input maxLength="30" v-model="queryForm.deptName" type="text" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="机构类型">
              <el-select v-model="queryForm.type" placeholder="请选择">
                <el-option
                  v-for="item in jgOpt"
                  :key="item.label"
                  :label="item.dicValue"
                  :value="item.label">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="机构状态">
              <el-select v-model="queryForm.enableFlag" placeholder="请选择">
                <el-option
                  v-for="item in ztOpt"
                  :key="item.label"
                  :label="item.dicValue"
                  :value="item.label">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <el-row class="product-btn">
        <el-col :offset='1' :span="3">
          <el-button v-if="btnShow.select" @click="queryList" size="mini" type="info">查询</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.resert"  @click="reset" size="mini" type="info">重置</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.add" @click="add" size="mini" type="info">添加</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.enable" @click="start('0')" size="mini" type="info">启用</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="btnShow.unenable" @click="start('1')" size="mini" type="info">停用</el-button>
        </el-col>
      </el-row>
      <div class="list">
        <contentHeader :queryTitle="`机构列表`"></contentHeader>
        <TreeTable
          ref="table"
          sum-text="sum"
          index-text="#"
          :data="tableData3"
          :columns="columns"
          :stripe="prop.stripe"
          :border="prop.border"
          :show-header="prop.showHeader"
          :show-summary="prop.showSummary"
          :show-row-hover="prop.showRowHover"
          :show-index="prop.showIndex"
          :tree-type="prop.treeType"
          :is-fold="prop.isFold"
          :expand-type="prop.expandType"
          :selection-type="prop.selectionType">
          <template slot="sel" slot-scope="scope">
            <el-checkbox @change="changeCheck(scope.row,$event)"></el-checkbox>
          </template>
          <template slot="empower" slot-scope="scope">
            <!-- ... ... (为授权的图标，可在这里添加点击事件)-->
            <el-button @click="check(scope.row.deptNo)" type="primary" size="mini">查看</el-button>
            <el-button @click="edit(scope.row.deptNo)" size="mini">编辑</el-button>
          </template>
        </TreeTable>
      </div>
    </div>
</template>
<script>
  import TreeTable from 'vue-table-with-tree-grid'
  import contentHeader from '../../contentHeader'
    export default {
        data() {
            return {
              queryForm:{
                deptName:"",
                enableFlag:"",
                type:"",
                token:this.$store.state.token,
              },
              prop: {
                stripe: false,//是否显示间隔斑马纹
                border: false,//是否显示纵向边框
                showHeader: true,//是否显示表头
                showSummary: false,//是否显示表尾合计行
                showRowHover: true,//鼠标悬停时，是否高亮当前行
                showIndex: false,//是否显示数据索引
                treeType: true,//是否为树形表格
                isFold: false,//树形表格中父级是否默认折叠
                expandType: false,//是否为展开行类型表格（为 True 时，需要添加作用域插槽, 它可以获取到 row, rowIndex)
                selectionType: false,//是否显示间隔斑马纹
              },
              tempArr:[],
              jgOpt:[],
              ztOpt:[],
              value:"",
              totalPages:0,
              pageNo:1,
              pageSize:10,
              tableData3: [],
              multipleSelection: [],
              btnShow:{
                add:false,
                select:false,
                resert:false,
                delete:false,
                enable:false,
                unenable:false,
                import:false,
              },
              columns: [
                {
                  label: "机构名称",
                  prop: "deptName",
                  minWidth: "300px",
                },
                {
                  label: "机构编号",
                  prop: "deptNo",
                  minWidth: "150px"
                },
                {
                  label: "机构类型",
                  prop: "typeName"
                },
                {
                  label: "排序值",
                  prop: "sort",
                },
                {
                  label: "状态",
                  prop: "enableFlagName",
                  template: "state"
                },
                {
                  label: "操作",
                  type: "template",
                  minWidth: "150px",
                  template: "empower"
                },
                {
                  label: "选择",
                  type: "template",
                  minWidth: "100px",
                  template: "sel"
                },
              ],
            }
        },
        components: {
            // 引入其他组件
          contentHeader,
          TreeTable,
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
            this.queryList()
          this.queryState()
          this.queryBtn()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          changeCheck(val,e){
            if(e == true){
              let pushFlag = true
              for (let i=0;i<this.tempArr.length;i++){
                if(val.deptNo == this.tempArr[i]){
                  pushFlag = false
                }
              }
              if(pushFlag){
                this.tempArr.push(val.deptNo)
              }
            }else{
              for(let i=0;i<this.tempArr.length;i++){
                if(this.tempArr[i]==val.id){
                  this.tempArr.splice(i, 1);
                }
              }
            }
          },
          reset(){
            this.queryForm = {
              deptName:"",
              enableFlag:"",
              type:"",
              token:this.$store.state.token,
            }
          },
          add(){
            this.$store.commit('changeEdit',true)
            this.$store.commit('changeId',"")
            this.$router.push('/account/deptEdit')
          },
          check(id){
            this.$store.commit('changeEdit',false)
            this.$store.commit('changeId',id)
            this.$router.push('/account/deptEdit')
          },
          edit(id){
            this.$store.commit('changeEdit',true)
            this.$store.commit('changeId',id)
            this.$router.push('/account/deptEdit')
          },
          start(type){
            if(this.tempArr.length<1){
              this.$message({
                type:'warning',
                message:'请至少选择一条记录'
              })
              return
            }
            this.$axios.HttpPost('/dept/isUsing.json',
              {
                token:this.$store.state.token,
                deptNos:this.tempArr,
                type:type,
              }
            )
              .then((data) => {
                this.$message({
                  type:'success',
                  message:'操作成功'
                })
                this.tempArr=[]
                this.queryList()
              });
          },
          handleSelectionChange(val){
            this.multipleSelection = val
          },
          handleCurrentChange(val){
            this.pageNo = val
            //this.queryDetail()
          },

          queryState(){
            this.$axios.HttpPost('/dic/queryDicList.json',
              {
                token:this.$store.state.token,
                type:'common_debt_type'
              }
            )
              .then((data) => {
                this.jgOpt=data.data
              });
            this.$axios.HttpPost('/dic/queryDicList.json',
              {
                token:this.$store.state.token,
                type:'common_enable_flag'
              }
            )
              .then((data) => {
                this.ztOpt=data.data
              });
          },
          queryList(){
            this.$axios.HttpPost('/dept/list.json',
              this.queryForm
            )
              .then((data) => {
                if(data.data){
                    this.tableData3=data.data
                  }else{
                    this.tableData3=[]
                  }
              });
          },
          queryBtn(){
            ///account/operate/roleOperLoad.json
            this.$axios.HttpPost('/account/operate/roleOperLoad.json',
              {
                menuNo:this.$store.state.menuNo,
                type:'0',
                operateType:'0',
                roleNo:'JS000004',
                token:this.$store.state.token
              }
            )
              .then((data) => {
                if(data.data){
                  for(let i=0;i<data.data.length;i++){
                    if(data.data[i].operateKey=='add'){
                      this.btnShow.add=true
                    }else if(data.data[i].operateKey=='select'){
                      this.btnShow.select=true
                    }else if(data.data[i].operateKey=='resert'){
                      this.btnShow.resert=true
                    }else if(data.data[i].operateKey=='delete'){
                      this.btnShow.delete=true
                    }else if(data.data[i].operateKey=='enable'){
                      this.btnShow.enable=true
                    }else if(data.data[i].operateKey=='unenable'){
                      this.btnShow.unenable=true
                    }else if(data.data[i].operateKey=='import'){
                      this.btnShow.import=true
                    }
                  }
                }
              });
          },
        }
    }
</script>
<style scoped>
  .product-btn .el-button--info{
    width: 88px;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    color: #4A4A4A;
  }
  .product-btn .el-button--info:hover{
    width: 88px;
    background-color: #4a83ff;
    border-color: #4a83ff;
    color: #fff;
  }
  .list{
    margin-top: .5rem;
  }
</style>
