<template>
    <div class="login-wrapper bg">
      <el-container>
        <el-header>
          <h1>桔盾风控平台</h1>
        </el-header>
        <el-main>
          <el-row type="flex" >
            <el-col class="login-content" :offset="14" :span="6">
              <el-card class="box-card">
                <h4>账户登录</h4>
                <el-form @keyup.enter.native="login" :rules="$rules" ref="lgForm" size="small" :model="loginForm">
                  <el-form-item label-width="80px" label="用户名" prop="userName">
                    <el-input auto-complete="true" maxLength="30" v-model="loginForm.userName" size="small"></el-input>
                  </el-form-item>
                  <el-form-item label-width="80px" label="密码" prop="passWord">
                    <el-input maxLength="30" type="password" v-model="loginForm.passWord" size="small"></el-input>
                  </el-form-item>
                  <el-form-item label-width="80px" label="验证码1">
                    <el-input maxLength="4" v-model="loginForm.validateCode" size="small"></el-input>
                    <img ref="vcode" class="vimg" width="80px" @click="changeImg" alt="验证码"/>
                  </el-form-item>
                  <el-form-item label-width="80px">
                    <el-button v-bind:disabled="lgbtF" style="width: 100%" type="primary" @click="login">登录</el-button>
                  </el-form-item>
                </el-form>
              </el-card>
            </el-col>
          </el-row>
        </el-main>
      </el-container>
    </div>
</template>
<script>
    import crypto from 'crypto'
    import Axios from 'axios'
    export default {
        data() {
            return {
              ms:0,
              lgbtF:false,
              loginForm:{
                "userName":"",
                "passWord":"",
                "validateCode":""
              },
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.autodivheight();
          this.changeImg()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          autodivheight(){
            //函数：获取尺寸
            //获取浏览器窗口高度
            let winHeight=0;
            if (window.innerHeight)
              winHeight = window.innerHeight;
            else if ((document.body) && (document.body.clientHeight))
              winHeight = document.body.clientHeight;
            //通过深入Document内部对body进行检测，获取浏览器窗口高度
            if (document.documentElement && document.documentElement.clientHeight)
              winHeight = document.documentElement.clientHeight;
            //DIV高度为浏览器窗口的高度
            document.getElementsByClassName("login-wrapper")[0].style.height= winHeight +"px";
          },
          changeImg(){
            //this.$refs.vcode.src='/rms-account-api/userlogin/getValidateCode.json?v='+this.msF();
            //this.$refs.vcode.src='http://test1-rms-account-api.juzifenqi.cn/rms-account-api/userlogin/getValidateCode.json?v='+this.msF();
            this.$refs.vcode.src='http://rms-accountapi.juzifenqi.com/userlogin/getValidateCode.json?v='+this.msF();
            //this.$refs.vcode.src='http://dev2-rms-account-api.juzifenqi.cn/rms-account-api/userlogin/getValidateCode.json?v='+this.msF();
          },
          msF(){
            this.ms =Math.random()
            return this.ms
          },
          toMd5(data){
              // 加入字符编码
              let md5 = crypto.createHash('md5').update(data+"1QAZ2WSX!!", 'utf-8').digest('hex');
              return md5.toUpperCase();
          },
          login(){
            let _this=this

            this.$refs['lgForm'].validate((valid) => {
              if (valid) {
                Axios.post('/account/login.json',{
                  passWord:this.toMd5(this.loginForm.passWord),
                  userName:this.loginForm.userName,
                  validateCode:this.loginForm.validateCode,
                  validateRdm:this.ms
                })
                  .then(function(res){
                    if(res.data.code==200){
                          _this.$store.commit("saveToken",res.data.data.token)
                          _this.$store.commit("saveUserName",res.data.data.userName)
                          _this.$message({
                            message: '登录成功',
                            type: 'success'
                          });
                          _this.lgbtF = true
                          setTimeout(()=>{
                            if( _this.$sysUrl){
                              window.location.href = _this.$sysUrl +'?' + '&token='+_this.$store.state.token+'&systemNo='+res.data.data.systemNo
                            }else{
                              _this.$router.push('/')
                            }
                            _this.lgbtF = false
                          },50)
                    } else{
                      _this.$message({
                        type:"warning",
                        message:res.data.msg
                      })
                    }
                    _this.changeImg()
                  })
                  .catch(function(err){
                    _this.$message({
                      type:'warning',
                      message:'网络错误'
                    })
                  });
              } else {
                console.log('请检查输入内容');
                return false;
              }
            });

          }
        }
    }
</script>
<style scoped>
  .login-wrapper{
    width: 100%;
    height: 100%;
    background: #0b5dff;
  }
  .login-content{
    margin-top: 12%;
  }
  .el-header{
    background: #ebeef5;
  }
  h1{
    font-size: 30px;
    font-weight: 700;
    color: #1b51bd;
  }
  h4{
    font-size: 18px;
    color: #4a4a4a;
    text-align: center;
    margin-bottom: .5rem;
  }
  .vimg{
    position: absolute;
    top: 1px;
    right: 0;
  }
  .bg{
    position: absolute;
    background: url(../assets/img/bg.jpg) no-repeat fixed center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-clip:border-box;
    background-origin:content-box;
  }
  .el-main{
    padding: 0;
  }
</style>
