
/*
::-webkit-scrollbar {width: 6px; height: 10px; background: #f5f5f5; }
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 6px; background: #f5f5f5; }
::-webkit-scrollbar-thumb {border-radius: 6px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background: #ff7726; }
*/
.el-date-editor.el-input{
  width: 100%;
}
.el-select {
  width: 100%;
}
.el-textarea{
  width: 100%!important;
}
.el-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4A4A4A;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  outline: 0;
  padding: 0 15px;
  width: 100%;
}
.login-wrapper .el-input__inner{
  width: 100%;
}
.el-date-picker .el-input__inner {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
.el-textarea__inner {
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: #4A4A4A;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.el-textarea {
  border-radius: 2px;
  display: inline-block;
  width: 320px;
  vertical-align: bottom;
  font-size: 14px;
}
.el-input__icon {
  height: 100%;
  width: 25px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 32px;
}
.index-container .el-tabs__header {
  padding: 0;
  position: absolute;
  margin-left: -194px;
  z-index: 99;
  background-color: #fff;
  width:100%;
}
.index-container .el-tabs__nav-wrap {
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
  margin-left: 194px;
}
.index-container .el-tabs__content {
  overflow: hidden;
  position: relative;
  padding-top: 48px;
}
.card-input .el-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4A4A4A;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  outline: 0;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 180px;
}
.shot-select .el-input__inner  {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4A4A4A;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  outline: 0;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 92px;
}
.main-select .el-input__inner  {
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4A4A4A;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  outline: 0;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 162px;
}

.collapse-li .el-card__header {
  padding: 0;
  height: 48px;
  color:#4A4A4A;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ebeef5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
.collapse-li .el-card {
  border-radius: 0px;
  overflow: hidden;
  color: #4A4A4A;
  font-size: 14px;
  background-color: #f9f9f9;
}
.collapse-li .el-collapse-item__header{
  font-weight:normal;
  color:#4a4a4a;
  background-color: #f1f1f1;
}
.collapse-li .el-collapse-item__content{
  padding-bottom: 0;
}

.policyForm .el-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4A4A4A;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;
}
.el-date-editor .el-input__inner{
  padding-left: 30px;
}
.el-submenu__title span{
  font-size: 16px !important;
  color:#4A4A4A;
}
.index-container .el-tabs__item{
  font-size: 12px;
  font-weight: normal;
  color:#9b9b9b;
}
.index-container .is-active{
  font-weight: normal;
  color:#409EFF;
}

.index-container .el-tabs__item:hover {
    color: #409EFF;
    cursor: pointer;
}
.policy-switch .el-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4A4A4A;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  outline: 0;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 320px;
}

.product-search-form .el-input__inner {
  width: 100%;
}
.product-search-form .el-input__suffix {
  color:#4183ff;
}
.product-content .el-table__header,.product-content .el-table__body,.product-content .el-input__inner{
  width: 100% !important;
}

.order-num-cotent .el-tabs__header {
  padding: 0;
  position: relative;
  z-index: 50;
  margin: 0 0 15px;
}
.order-num-cotent .el-tabs__nav-wrap {
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
  margin-left: 0;
}

.order-num-cotent .el-tabs__content {
  padding-top: 0;
}
.second-sub .el-submenu__title{
  padding-left: 70px!important;
}
.small-input .el-input__inner{
  width:100%;
}
.divider{
  width: 90%;
  border-top: 1px #ccc solid;
  margin-bottom: 0.5rem;
}

.el-table__body tr.hover-row>td,.el-table__body tr.current-row>td{
  background-color: #9aebff;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
  background-color: #9aebff;
}
